@charset "utf-8";

.mgzero {margin:0 !important;}
.mgTz {margin-top:0 !important;}
.mgBz {margin-bottom:0 !important;}
.mgRz {margin-right:0 !important;}
.mgLz {margin-left:0 !important;}
.mgT5 {margin-top:5px !important;}
.mgT7 {margin-top:7px !important;}
.mgT8 {margin-top:8px !important;}
.mgT10 {margin-top:10px !important;}
.mgT15 {margin-top:15px !important;}
.mgT17 {margin-top:17px !important;}
.mgT20 {margin-top:20px !important;}
.mgT25 {margin-top:25px !important;}
.mgT30 {margin-top:30px !important;}
.mgT35 {margin-top:35px !important;}
.mgT40 {margin-top:40px !important;}
.mgT45 {margin-top:45px !important;}
.mgT50 {margin-top:50px !important;}
.mgT55 {margin-top:55px !important;}
.mgLR15 {margin-left:15px !important;margin-right:15px !important;}
.mgB10 {margin-bottom:10px !important;}

/*상품기술서 이미지 솔루션 CCS*/
.s-lazy{-webkit-transition:opacity 100ms ease-in-out;-moz-transition:opacity 100ms ease-in-out;-o-transition:opacity 100ms ease-in-out;transition:opacity 100ms ease-in-out;opacity:0;max-width:100%}.s-lazy-s{width:100%;display:block}.s-error{width:0;height:0}.s-loaded{opacity:1}.speedycat-container{line-height:0;font-size:0;border:0;overflow:hidden;width:100%;margin:auto}.speedycat-container+br{display:none}#speedycat_container_root.speedycat_container_root_class .speedycat-container>img{width:100%!important}

.pdzero {padding:0 !important;}
.pdBzero {padding-bottom:0 !important;}
.pdTz {padding-top:0 !important;}
.pdT5 {padding-top:5px !important;}
.pdT10 {padding-top:10px !important;}
.pdT15 {padding-top:15px !important;}
.pdT20 {padding-top:20px !important;}
.pdT25 {padding-top:25px !important;}
.pdT30 {padding-top:30px !important;}
.pdT35 {padding-top:35px !important;}
.pdT40 {padding-top:40px !important;}
.pdT45 {padding-top:45px !important;}
.pdT50 {padding-top:50px !important;}
.pdB15 {padding-bottom:15px !important;}
.pdB20 {padding-bottom:20px !important;}
.pdB25 {padding-bottom:25px !important;}
.pdLR0 {padding-left:0px !important;padding-right:0px !important;}
.pdLR15 {padding-left:15px !important;padding-right:15px !important;}
.pdTB10z {padding:10px 0 !important;}
.lineC {border-bottom:1px solid #ddd;} 
.lineZ {border:0 !important;}
.lineTz {border-top:0 !important}
.lineBz {border-bottom:0 !important;}
.lineBe6 {border-bottom:1px solid #e6e6e6 !important;}
.lineTe6 {border-top:1px solid #e6e6e6 !important;}
/*
.lineTc {position:relative;border-top:2px solid #ccc !important;}
.lineTc:before {display:block;content:"";position:absolute;top:-3px;left:0;width:100%;height:1px;background-color:#fff;}
*/
.order_info_area.lineTc{margin-top:10px;}
.lineBc {border-bottom:2px solid #ccc !important;}
.oneSet >* {width:100% !important;}
.twoSet >* {width:50% !important;}
.threeSet >* {width:33.3% !important;}
.fourSet >* {width:25% !important;}
.alignCenter {text-align:center !important;}
.alignRight {text-align:right !important;}
.alignLeft {text-align:left !important;}

input {width:100%;height:40px;padding:0 8px;border:1px solid #ccc;background:none;border-radius:5px;outline:none;box-shadow:none;-webkit-appearance:none;letter-spacing:0.5px;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {background-color:#fff;font-size:14px;line-height:20px;color:#333;letter-spacing:-0.2px;}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{color:#333;border:1px solid #9bce26;}
select option {color:#333;}
input[type="submit"],
button {border:0;padding:0;outline:none;box-shadow:none;cursor:pointer;}
textarea {border:1px solid #ccc;padding:10px 8px;border-radius:5px;resize:none;font-size:14px;line-height:20px;box-shadow:none;box-sizing:border-box;-webkit-appearance:none;outline:none;letter-spacing:-0.2px;}
select {width:100%;height:40px;padding:0 20px 0 10px;background:#fff url(/mc-static-root/image/project/arrow_select01.png) no-repeat right center;background-size:20px auto;border:1px solid #ccc;border-radius:5px;font-size:14px;text-align:left;line-height:18px;color:#333;vertical-align:middle;appearance:none;-webkit-appearance:none;outline:none;}
input::-webkit-input-placeholder {color:#999;}
select:disabled,
input:disabled,
input:read-only {background-color:#f6f6f6 !important;color:#999;}
input[type="checkbox"],
input[type="radio"] {width:26px;height:26px;border:0;padding:0;font-size:0;line-height:0;margin-right:8px;vertical-align:middle;cursor:pointer;appearance:none;-webkit-appearance:none;}
input[type="radio"] {border-radius:26px;background:url(/mc-static-root/image/comm/check_radio.png) no-repeat -26px 0;background-size:52px auto;background-color:#fff !important;}
input[type="checkbox"] {background:#fff url(/mc-static-root/image/comm/check_radio.png) no-repeat 0 0;background-size:52px auto;}
input[type="checkbox"]:disabled,
input[type="checkbox"]:read-only {background-color:#f6f6f6;}
input[type="radio"]:checked {background:#fff url(/mc-static-root/image/comm/check_radio.png) no-repeat -26px -26px;background-size:52px auto;}
input[type="radio"]:disabled,
input[type="radio"]:read-only {background-color:#f6f6f6;}
input[type="checkbox"]:checked {background:#fff url(/mc-static-root/image/comm/check_radio.png) no-repeat 0 -26px;background-size:52px auto;}
label {display:inline-block;font-size:15px;line-height:20px;color:#333;cursor:pointer;vertical-align:middle;letter-spacing:-0.5px;}
input[type="checkbox"].chkSmall,
input[type="radio"].radioSmall {width:23px;height:23px;background-color:#fff;}
input[type="radio"].radioSmall {border-radius:23px !important;}
input[type="checkbox"].chkSmall {background:#fff url(/mc-static-root/image/comm/check_radio.png) no-repeat 0 -52px;background-size:52px auto;}
input[type="checkbox"].chkSmall:checked {background:url(/mc-static-root/image/comm/check_radio.png) no-repeat 0 -75px;background-size:52px auto;}
input[type="checkbox"].chkSmall:disabled,
input[type="checkbox"].chkSmall:read-only {background-color:#f6f6f6;}
input[type="radio"].radioSmall {background:#fff url(/mc-static-root/image/comm/check_radio.png) no-repeat -23px -52px;background-size:52px auto;}
input[type="radio"].radioSmall:checked {background:url(/mc-static-root/image/comm/check_radio.png) no-repeat -23px -75px;background-size:52px auto;}
input[type="radio"].radioSmall:disabled,
input[type="radio"].radioSmall:read-only {background-color:#f6f6f6;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    font-family: 'Montserrat', -apple-system, 'Noto Sans KR';
}
.textArea {position:relative;padding:0 15px;background-color:#fff;}
.textArea span {display:inline-block;position:absolute;bottom:15px;right:30px;font-size:12px;line-height:20px;color:#999;vertical-align:top;letter-spacing:0;}
.hide {display:none;}
.selectItem {padding:20px 15px 20px;background-color:#fff;}
.selectItem select {margin-top:10px;}
.selectItem select:first-child {margin-top:0;}
.selectItem.line{border-bottom:1px solid #e6e6e6;}
.selectItem2 {padding:15px;background:#fff}
.selectItem2 p.selTx {font-size:15px;font-weight:bold;color:#000;text-align:center;margin-bottom:12px;}
.selectItem2 p.selTx > span {color:#9bce26}
.blitTxt {padding-left:6px;background:url(/mc-static-root/image/comm/bar2x2_gray.gif) no-repeat 0 7px;background-size:2px auto;font-size:12px;line-height:18px;color:#666;letter-spacing:-0.5px;}
.blitTxt2 {padding-left:6px;background:url(/mc-static-root/image/comm/bar2x2.gif) no-repeat 0 7px;background-size:2px auto;font-size:11px;line-height:15px;color:#999;letter-spacing:-0.5px;}
.listBlit {overflow:hidden;}
.listBlit li {padding-left:8px;background:url(/mc-static-root/image/comm/bar2x2_gray.gif) no-repeat 0 9px;background-size:2px 2px;font-size:12px;line-height:18px;color:#666;letter-spacing:-0.3px;word-break:keep-all;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.listBlit > p {padding-left:8px;background:url(/mc-static-root/image/comm/bar2x2_gray.gif) no-repeat 0 9px;background-size:2px 2px;font-size:12px;line-height:18px;color:#666;letter-spacing:-0.3px;}
.starImportant {display:inline-block;width:6px;height:6px;margin-left:2px;background:url(/mc-static-root/image/comm/icon_important_star.png) no-repeat 0 0;background-size:6px auto;font-size:0;line-height:0;vertical-align:middle;}
.alarmTxt {overflow:hidden;background-color:#fff;padding:6px 15px;}
.alarmTxt p {font-size:14px;line-height:20px;color:#000;text-align:center;}
.alarmTxt2 {font-size:12px;line-height:18px;color:#999;}
.alarmTxt2>.txt_col_green {font-size:13px;}
.btnTxtgray {background-color:#fff;font-weight:bold;font-size:12px;line-height:20px;color:#666;}
.btnLink {display:inline-block;padding-bottom:1px;position:absolute;top:2px;right:0;font-size:13px;line-height:15px;color:#999;border-bottom:1px solid #999;}
.btnLink2 {display:inline-block;padding-right:10px;background:url(/mc-static-root/image/comm/icon_more03.png) no-repeat right 5px;background-size:5px auto;font-size:11px;line-height:20px;color:#999;white-space:nowrap;}
.btnLink3 {display:block;width:140px;margin:0 auto;padding-right:10px;background:url(/mc-static-root/image/comm/ico_arrow_link2.png) no-repeat right 5px;background-size:5px auto;font-size:14px;line-height:20px;color:#000;white-space:nowrap;text-align:center;}
.badge {display:inline-block;height:20px;padding:0 8px;border-radius:20px;border:1px solid #e6e6e6;font-weight:bold;font-size:11px;line-height:18px;color:#999;text-align:center;vertical-align:top;}
.totalBox {position:relative;overflow:hidden;background-color:#fff;border-top:1px solid #e6e6e6;padding:12px 15px 13px;}
.totalBox .cnt {font-size:15px;line-height:20px;color:#000;}
.totalBox .cnt strong {display:inline-block;font-size:16px;color:#9bce26;vertical-align:top;}
.totalBox button {position:absolute;top:12px;right:15px;}
.btnRroundAH30,
.btnRroundH30 {display:inline-block;min-width:100px;padding:2px 23px 0;height:30px;background-color:#fff;border-radius:30px;border:1px solid #9bce26;font-size:13px;line-height:20px;color:#9bce26;text-align:center;}
.btnRroundAH30 {border:1px solid #fff;background-color:transparent;color:#fff;}
.question_mark {display:inline-block;font-weight:bold;font-size:12px;line-height:24px;padding-right:18px;color:#999;background:url(/mc-static-root/image/comm/ico_info.png) no-repeat right 7px;background-size:12px auto;vertical-align:top;}
.listForm {margin-top:5px;background-color:#eee;padding:0 15px;border-radius:5px;}
.listForm li {padding:15px 0;border-top:1px solid #ddd;}
.listForm li:first-child {padding-top:20px;border-top:0;}
.formSms, .formMail {overflow:hidden;margin-top:10px;width:100%;}
.formSms >*, .formMail >* {float:left;white-space:nowrap;}
.formSms select {width:30.6%;background-position:92% center;}
.formSms span,
.formMail span {display:inline-block;width:4%;padding:0 1px;height:40px;font-size:16px;line-height:40px;color:#999;text-align:center;}
.formSms input[type="tel"] {width:30.6%;}
.formMail input[type="text"] {width:43%;}
.formMail span {width:7%;}
.formMail select {margin-left:2%;width:55%;background-position:93% center;letter-spacing:-0.5px;}
.choice-radio {overflow:hidden;width:100%;padding:20px 0 0 15px;background-color:#fff;}
.choice-radio li {overflow:hidden;float:left;font-size:0;line-height:0;}
.choice-radio li label {display:inline-block;padding:3px 0 0;color:#666;font-size:13px;line-height:18px;vertical-align:middle;}
.choice-radio li:first-child label {padding-right:20px;}
.choice-radio li input[type="radio"] {float:left;vertical-align:middle;margin-top:3px;}
.choice-radio li input[type="checkbox"] {float:left;vertical-align:middle;}
.choice-radio2 {overflow:hidden;width:100%;padding:10px 0 10px 15px;background-color:#fff;}
.choice-radio2 li {overflow:hidden;float:left;font-size:0;line-height:0;}
.choice-radio2 li label {display:inline-block;padding:5px 0 0;color:#666;font-size:13px;line-height:18px;vertical-align:middle;}
.choice-radio2 li:first-child label {padding-right:20px;}
.choice-radio2 li input[type="radio"] {float:left;vertical-align:middle;margin-top:3px;}
.choice-radio2 li input[type="checkbox"] {float:left;vertical-align:middle;}
.nodata {padding:46px 15px 48px;color:#444;font-size:14px;text-align:center;line-height:20px;}
.grayBox6 .btnBigArea {background-color:#eee;padding:0;}
.grayBox6 .btnBigArea button {margin-top:0;}
.mCtitle1 {height:45px;margin:10px 0 0;padding:13px 0 0 38px;color:#333;text-align:left;font-size:16px;background:#fff url(/mc-static-root/image/comm/ico_branch.png) no-repeat 15px 50%;background-size:14px auto}
.tit-area {overflow:hidden;position:relative;height:50px;background:#fff;border-bottom:1px solid #e6e6e6;}
.tit-area .tit {padding:11px 0 0 15px;color:#000;font-weight:bold !important;font-size:16px;line-height:26px;}
.tit-area .more {position:absolute;top:14px;right:15px;padding-right:11px;background:url(/mc-static-root/image/comm/icon_more03.png) no-repeat right 50%;background-size:auto 8px;color:#999;font-size:12px;line-height:18px;letter-spacing:-1px;}
.tit-area.type2 {height:70px}
.tit-area.type2 .tit {padding:31px 0 0 15px}
.tit-area.type2 .more {top:34px} 
.tit-area.type3 {height:60px;margin-top:10px;}
.event_enter_box.type2~.tit-area.type3 {margin-top:0;}
.popInner ~ .event_enter_box {border-top:0;}
.tit-area.type3 .tit {padding:25px 0 0 15px;font-size:15px}
.tit-area.type3 .tit span {letter-spacing:0;padding-left:2px;}
.tit-area.type3 .more {top:28px;color:#141414;background-image:url(/mc-static-root/image/comm/icon_more04.png);letter-spacing:-1px;}
.mSearch1s {overflow:hidden;position:relative;padding:20px 15px 10px;background:#fff;}
.mSearch1s.twoSet > * {width:48% !important;}
.mSearch1s .fl {float:left;}
.mSearch1s .fr {float:right}
.mSearch1s.twoSet button {width:100% !important;margin:10px 0 0;}
.mid_area {padding:20px 15px;background:#eee}
.mid_area2 {padding:20px 15px;background:#333}
.sch_field {position:relative;width:100%;height:45px;padding:7px 10px 0;border:1px solid #ccc;border-radius:4px;background:#fff}
.sch_field input[type="text"] {width:100%;height:28px;padding:0 65px 0 0;border:0;font-size:14px;color:#333;background:#fff;letter-spacing:-1px}
.sch_field select {width:100%;height:28px;font-size:14px;color:#333}
.sch_field .btn_sch_del {position:absolute;top:12px;right:45px;width:20px;height:20px;background:url(/mc-static-root/image/customer/icon_delete.png) no-repeat center;background-size:20px auto}
.sch_field .btn_sch {position:absolute;top:7px;right:10px;display:inline-block;width:28px;height:28px;background:url(/mc-static-root/image/customer/ico_search.png) no-repeat 50% 50%;background-size:19px auto;z-index:0}
.sch_field2,
.sch_field3 {position:relative;width:100%;height:40px;}
.sch_field2 input[type="text"] {width:100%;border-radius:20px;border:1px solid #ccc;background:#fff;height:38px;line-height:36px;border-radius:19px;padding:0 65px 0 20px;font-size:14px;color:#333;background:#fff;letter-spacing:-1px}
.sch_field2 input[type="text"]:focus,
.sch_field3 input[type="text"]:focus {border-color:#9bce26;}
.sch_field2 .btn_sch_del,
.sch_field3 .btn_sch_del {position:absolute;top:10px;right:45px;width:20px;height:20px;background:url(/mc-static-root/image/comm/ico_inp_del.png) no-repeat center;background-size:20px auto}
.sch_field2 .btn_sch {position:absolute;top:5px;right:10px;display:inline-block;width:28px;height:28px;background:url(/mc-static-root/image/comm/ico_search3.png) no-repeat 50% 50%;background-size:auto 19px;z-index:0}
.sch_field2 input[type="text"]::-webkit-input-placeholder {color:#999}
.sch_field2 input[type="text"]:-ms-input-placeholder {color:#999}
.sch_field2 input[type="text"]::-moz-placeholder {color:#999;opacity:1}
.sch_field2 input[type="text"]:-moz-placeholder {color:#999;opacity:1}
.sch_field2.search {position:relative;width:100%;height:40px;border-radius:20px;border:0;background:#f5f5f5}
.sch_field2.search input[type="text"] {width:100%;height:38px;line-height:36px;border-radius:19px;padding:0 65px 0 20px;border:0;font-size:14px;color:#333;background:none;letter-spacing:-1px}
.sch_field2.search .btn_sch_del,
.sch_field3.search .btn_sch_del {display:none}
.sch_field2.search .btn_sch_del.on,
.sch_field3.search .btn_sch_del.on {display:block}
.sch_field3 input[type="text"] {width:100%;height:40px;border-radius:20px;border:1px solid #ccc;background:#fff;line-height:40px;border-radius:20px;padding:0 65px 0 20px;font-size:14px;letter-spacing:-1px}
.sch_field3 .btn_sch {position:absolute;top:5px;right:10px;display:inline-block;width:28px;height:28px;background:url(/mc-static-root/image/comm/ico_search3.png) no-repeat 50% 50%;background-size:auto 19px;z-index:0}
/* App 바코드 스캔 기능 추가 */
.sch_field .btn_sch_barcode, 
.sch_field2 .btn_sch_barcode,
.sch_field3 .btn_sch_barcode {display:none}
.sch_field.app input[type="text"] {padding:0 95px 0 0;}
.sch_field.app .btn_sch_del {right:80px;}
.sch_field.app .btn_sch {right:48px;}
.sch_field2.app input[type="text"],
.sch_field3.app input[type="text"] {padding:0 105px 0 20px;}
.sch_field2.app .btn_sch,
.sch_field3.app .btn_sch {right:52px;}
.sch_field2.app .btn_sch_del,
.sch_field3.app .btn_sch_del {right:83px;}


.sch_field.app .btn_sch_barcode {display:block;position:absolute;top:0;right:0px;display:inline-block;width:44px;height:44px;background:url(/mc-static-root/image/comm/ico_barcode.png) no-repeat 50% 53%;background-size:auto 24px;z-index:0}
.sch_field.app .btn_sch_barcode::before {content:'';display:inline-block;position:absolute;top:9px;left:0;background-color:#ddd;width:1px;height:24px;}
.sch_field2.app .btn_sch_barcode,
.sch_field3.app .btn_sch_barcode {display:block;position:absolute;top:0;right:4.5px;display:inline-block;width:44px;height:40px;background:url(/mc-static-root/image/comm/ico_barcode.png) no-repeat 50% 55%;background-size:auto 24px;z-index:0}
.sch_field2.app .btn_sch_barcode::before,
.sch_field3.app .btn_sch_barcode::before {content:'';display:inline-block;position:absolute;top:7px;left:0;background-color:#ddd;width:1px;height:24px;}

.sch_link {display:block;height:40px;padding:9px 0 0 15px;border:1px solid #ccc;font-size:14px;color:#fff;border-radius:20px;background:#fff url(/mc-static-root/image/comm/ico_search3.png) no-repeat 95% 50%;background-size:auto 19px;color:#999;}
.sch_rst_area {height:60px;margin:0 15px;padding:18px 0 0;border-top:1px solid #e6e6e6;font-size:15px;font-weight:bold;color:#333;text-align:center;background:#fff} 
.sch_rst_area > span {font-size:17px;color:#9bce26;font-weight:bold}
.sch_rst_area2 {padding:0 15px;text-align:center;background:#fff}
.sch_rst_area2 > p {padding:13px 0 0;height:45px;font-size:15px;font-weight:bold;color:#333;border-bottom:1px solid #e6e6e6;word-wrap:break-word;}
.sch_rst_area2 > p > span {font-size:17px;color:#9bce26;font-weight:bold;padding:0 3px 0 5px;}
.sch_rst_area2 > p > span.tx_kor {font-size:15px}
.sch_rst_area2.type2 > p {height:35px;padding:0 0 10px;font-size:16px;}
.no_coupon ,
.sch_no_data,
.sch_no_data2,
.basket_no_cate,
.faq_no_data {padding:0 15px;text-align:center;background:#fff url(/mc-static-root/image/customer/bg_no_result03.png) no-repeat 50% 40%;background-size:64px auto;font-size:15px;color:#999}
.faq_no_data {background:#fff url(/mc-static-root/image/customer/bg_no_result02.png) no-repeat 50% 40%;background-size:60px auto;}
.basket_no_cate {background:#fff url(/mc-static-root/image/comm/bg_no_cate.png) no-repeat 50% 40%;background-size:64px auto;}
.sch_no_data2 {background:#fff url(/mc-static-root/image/customer/bg_no_result03.png) no-repeat 50% 40%;background-size:64px auto;}
.no_coupon {padding-top:20px;background:#fff url(/mc-static-root/image/comm/ico_no_coupon.png) no-repeat 50% 46%;background-size:64px auto;}
.inBox3+.no_coupon {padding-top:0;background-position:50% 40%}
.sch_no_data.search,
.basket_no_cate {padding:0;}
.no_coupon > p,
.sch_no_data > p,
.basket_no_cate > p,
.sch_no_data2 > p {min-height:240px;padding:140px 0 75px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.sch_no_data2.noline > p {border:0;padding-top:168px;}
.basket_no_cate > p {border-top:0;}
.sch_no_data.search p {border-top:0}
.sch_no_data.search p strong {font-weight:normal;font-size:17px;color:#f27370;}
.sch_no_data.search {padding:0 15px;background:#fff url(/mc-static-root/image/customer/bg_no_result03.png) no-repeat 50% 70px;background-size:64px auto;}
.mlist1v-goods #ajaxList .sch_no_data.search{border-top:1px solid #e5e5e5}
.n-keyword~.sch_no_data.search p {border-top:0;}
.sch_no_data.cate{border-top:1px solid #e6e6e6;}
.sch_no_data.cate p{padding:215px 0 140px 0;line-height:20px;font-family:'Noto Sans KR';}
/* App바코드 검색 결과 추가 */
.sch_no_data.barcode {min-height:322px;padding-bottom:11px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background: #fff url(/mc-static-root/image/comm/ico_barcode_nodata.png) no-repeat 50% 19%;background-size:100px auto;}
.sch_no_data.barcode p {min-height:0;padding:155px 0 14px;border-top:none;border-bottom:none;}
.sch_no_data.barcode .threeSet .btnMiddle {min-width:150px;height:50px;border-radius:0;}
.sch_no_data.barcode .threeSet .btnMiddle span {}
.sch_no_data.barcode .threeSet #barcodeGo span::before {content:'';display:inline-block;width:29px;height:20px;background: transparent url(/mc-static-root/image/comm/ico_barcode_wht.png) no-repeat left center;background-size:auto 20px;vertical-align:top}
.sch_no_data.barcode .threeSet #homeGo span::before {content:'';display:inline-block;width:25px;height:20px;background: transparent url(/mc-static-root/image/comm/ico_home_gr.png) no-repeat left center;background-size:20px auto;vertical-align:top}

.tabList01 {overflow:hidden;background-color:#fff;}
.tabList01 li {float:left;}
.tabList01 li a {position:relative;display:block;height:53px;border-left:1px solid #fff;background-color:#ddd;padding:15px 0;font-weight:bold;font-size:16px;line-height:20px;color:#666;text-align:center;}
.tabList01 li.on a {background:url(/mc-static-root/image/comm/bg_tab_on.png) 50% 100%;background-size:100% 100%;color:#fff;}
.tabList01 li.on a,
.tabList01 li.on+li a {border-left:0;}
.tabList01.bgf{background-color:#fff;}
.tabList02 {overflow:hidden;}
.tabList02 li {float:left;}
.tabList02 li a {display:block;height:45px;padding:10px 0;border:1px solid #f6f6f6;border-bottom:1px solid #000;border-radius:5px 5px 0 0;background-color:#f6f6f6;font-size:13px;line-height:25px;color:#999;text-align:center;}
.tabList02 li.on a {border:1px solid #000;border-bottom:1px solid #fff;background-color:#fff;font-weight:bold;color:#333;}
.btnBigArea,
.btnSmallArea {overflow:hidden;padding:0 15px;background-color:#fff;text-align:center;}
.btnMiniArea {overflow:hidden;padding:0 65px;background-color:#fff;}
.btnBigArea.twoSet >button,
.btnMiniArea.twoSet > button{width:49% !important;float:right;}
.btnBigArea.threeSet.al_cnt {padding:0;}
.btnBigArea.threeSet>button {width:36.9% !important;}

/* jwkim 오늘드림 개편 css 주석 */
.btnBigArea.threeSet.type2>button {width:30% !important;}
.btnBigArea.threeSet.type2>button:first-child{width:35% !important;}

.btnBigArea.twoSet >button:first-child {width:49% !important;float:left;}
.btnMiniArea.twoSet >button:first-child {width:49% !important;float:left;}
.btnMiniArea.twoSet.txt_center > button {float:none;}
.btnLineGray, .btnLightGary, .btnGreen, .btnGreen2, .btnLine, .btnGray, .btnLineGreen, .btnLineOrange, .btnOrange, .btnMint {width:100% !important;height:45px;border-radius:5px;margin-top:20px;padding:12px 0 13px;font-weight:bold;font-size:16px;line-height:20px;text-align:center;}
.btnGreen,
.btnGreen2 {background-color:#9bce26 !important;font-weight:bold;color:#fff;}
.btnMint {background-color:#00c4b5;font-weight:bold;color:#fff;}
.btnOrange{background-color:#f27370 !important;font-weight:bold;color:#fff;}
.btnLightGary {border:1px solid #ddd;background-color:#f6f6f6 !important;font-weight:bold;color:#9bce26;}
.btnLine, .btnLineGray {background-color:#fff;font-weight:normal !important;border:1px solid #000;color:#000;background-color:#fff;}
.btnGray {background-color:#999;color:#fff;}
.btnGray2 {background-color:#f0f0f0;color:#777;}
.btnGray3 {background-color:#777;color:#fff;}
.btnLineGray {border:1px solid #777;font-weight:bold !important;color:#777;}
.btnLineGreen {background-color:#fff;border:1px solid #9bce26;color:#9bce26;background-color:#fff;}
.btnLineOrange {background-color:#fff;border:1px solid #f27370;color:#f27370;background-color:#fff;}
.btnSmallArea button {width:100%;height:45px;margin-top:20px;padding:12px 0 13px;border-radius:5px;background-color:#9bce26;font-size:15px;line-height:20px;text-align:center;}
.btnMini {display:inline-block;width:auto !important;height:37px;background-color:#fff;border-radius:5px;border:1px solid #9bce26;padding:10px 15px;font-size:13px;line-height:17px;vertical-align:top;}
.btnMini>span {display:inline-block;font-size:13px;line-height:16px;vertical-align:top;}
.btnMini.btnGreen,
.btnMini.btnGreen2 {padding:0 15px !important;background-color:#fff !important;}
.btnMini.btnGreen span,
.btnMini.btnGreen2 span {font-weight:normal;padding-right:10px;background:url(/mc-static-root/image/comm/arrow_right01.png) no-repeat center right;background-size:3px auto;color:#9bce26;}
.btnMini.btnGray {background-color:#f6f6f6;font-weight:normal;border:1px solid #999;}
.btnMini.btnGray span {color:#333;}
.btnFile{border-radius:5px;background-color:#fff;height:37px;padding:10px 15px;border:1px solid #999;font-size:13px;line-height:17px;color:#999;outline:none;}
.btnMiddle {min-width:100px;height:40px;margin:0 3px;padding:0 10px;line-height:35px;font-size:13px;border-radius:5px}
.btnMiddle > span {display:inline-block;font-weight:bold;line-height:20px;letter-spacing:-0.5px;}
.btnMiddle.white {background:#fff;border:1px solid #9bce26;color:#9bce26}
.btnMiddle.green {background:#9bce26;border:1px solid #9bce26;color:#fff;padding:0 12px;}
.btnMiddle.gray {background:#999;color:#fff;}
.button1sGreen {width:100%;height:45px;margin:20px 0 0;padding:0 0 5px;background:#f6f6f6;border-radius:5px;border:1px solid #ddd;color:#9bce26;font-weight:bold;font-size:16px;line-height:20px;}
.button1sGreen span {display:inline-block;height:40px;padding:12px 0 0 30px;background:url(/mc-static-root/image/comm/ico_plus02.png) no-repeat 0 12px;background-size:20px 20px;}
.btnOrangeH28 {padding:0 15px;height:28px;border:1px solid #f27370;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:25px;color:#f27370;}
.btnGeenH28 {padding:0 15px;height:28px;border:1px solid #9bce26;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:25px;color:#9bce26;}
.btnGrayH28 {padding:0 15px;height:28px;border:1px solid #777;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:20px;color:#777;}
.btnGray2H28 {padding:0 15px;height:28px;border:1px solid #999;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:20px;color:#999;}
.btnGrayH35 {min-width:100px;padding:0 15px;height:35px;background-color:#f6f6f6;border:1px solid #ccc;border-radius:5px;font-weight:bold;font-size:13px;line-height:30px;color:#333;}
.btnMintH28 {padding:0 15px;height:28px;border:1px solid #00c8b5;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:20px;color:#00c8b5;}
.btnGreenWH30,
.btnGreenH30 {min-width:70px;padding:0 15px;height:30px;border-radius:5px;background-color:#9bce26;font-weight:bold;font-size:13px;line-height:30px;color:#fff;}
.btnLGreenH30 {padding:0 15px;height:30px;border:1px solid #9bce26;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:25px;color:#9bce26;}
.btnGrayFullH30 {display:block;padding:0 15px;height:30px;border-radius:5px;background-color:#ccc;font-weight:bold;font-size:12px;line-height:30px;color:#fff;}
.btnGrayH30 {display:block;padding:0 15px;height:30px;border:1px solid #777;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:25px;color:#777;}
.btnOrangeWH30,
.btnOrangeH30 {display:block;padding:0 15px;height:30px;border:1px solid #f27370;border-radius:5px;background-color:#f27370;font-weight:bold;font-size:12px;line-height:25px;color:#fff;}
.btnGrayW28 {display:block;padding:0 15px;height:28px;border:1px solid #ddd;border-radius:5px;background-color:#fff;font-weight:bold;font-size:12px;line-height:25px;color:#999;}
.btnGreenWH30 {background-color:#fff;border:1px solid #9bce26;color:#9bce26;}
.btnOrangeWH30 {background-color:#fff;border:1px solid #f27370;color:#f27370;line-height:28px;}
.btnBlackLineH50{background-color:#fff;border:1px solid #000;color:#000;line-height:50px;font-weight:bold;font-family:'montserratlight', 'Noto Sans KR';}
.fullBtn{}
.fullBtn button{border-radius:0;}
.btn_area{text-align:center;}
.btn_area .btnLineg{width:200px;height:45px;font-size:15px;font-weight:700;color:#888;border:1px solid #888;border-radius:8px;background-color:#fff;}
.btn_area .btnH40{height:40px;background:none;font-size:13px;font-weight:bold;}
.btn_area .btnH45{height:45px;background:none;font-size:16px;font-weight:bold;}
.btn_area .btn_bg{border-radius:5px;background-color:#9bce26;color:#fff;}
.btn_area .btn_line{border-radius:5px;border:1px solid #9bce26;color:#9bce26;}
.btn_area .w100p{width:100%;}
.btn_area .w140{width:140px;}
.grayBox1 {overflow:hidden;background-color:#eee;padding:0 15px;}
.grayBox2 {overflow:hidden;background-color:#f6f6f6;padding:15px;}
.grayBox3 {overflow:hidden;background-color:#f6f6f6;padding:20px 15px;}
.grayBox4 {overflow:hidden;background-color:#eee;padding:20px 10px;}
.grayBox5 {overflow:hidden;background-color:#eee;padding:0 10px;}
.grayBox6 {overflow:hidden;background-color:#eee;padding:20px 15px;}
.inBox1 {overflow:hidden;padding:0 15px;background-color:#fff;}
.inBox2 {overflow:hidden;padding:15px;background-color:#fff;}
.inBox3 {overflow:hidden;padding:20px 15px;background-color:#fff;}
.inBox4 {overflow:hidden;padding:20px 15px 10px;background-color:#fff;}
.inBox5 {overflow:hidden;padding:0 15px 20px;background-color:#fff;}
.inBox6 {overflow:hidden;padding:20px 15px 0;background-color:#fff;}
.inBox7 {overflow:hidden;padding:20px 0;background-color:#fff;}
.inBox8 {overflow:hidden;padding:15px 15px 20px;background-color:#fff;}
.inBox9 {overflow:hidden;padding:10px 15px;background-color:#fff;}
.titleBox {margin-top:7px;padding:18px 15px;background-color:#fff;font-size:16px;line-height:24px;color:#333;text-align:center;}
.roundBox {background-color:#f6f6f6;border-radius:32px;padding:12px 15px 13px;}
.roundBox p {font-weight:bold;font-size:14px;line-height:20px;color:#000;text-align:center;}
.inBox3.twoSet select {width:49% !important;background-position:92% center;}
.inBox3.twoSet select {float:right;}
.inBox3.twoSet select:first-child {float:left;}
.txt_en {font-family:'Montserrat';}
.txt_col_green{color:#9bce26 !important;}
.txt_center {text-align:center !important;}
.txt_right {text-align:right !important;}
.txt_bold {font-weight:bold !important;letter-spacing:-0.5px;}
.txt_bold_green {font-weight:bold;color:#9bce26;letter-spacing:-0.5px;}
.txt3 {font-size:12px;line-height:18px;color:#777;}
.blind{display:block;overflow:hidden;position:absolute;left:0;top:-5000px;text-indent:-9999px;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;padding: 0 !important;}
.iconTxt {padding-left:25px;background:url(/mc-static-root/image/comm/ico_i.png) no-repeat 0 0;background-size:18px auto;font-size:12px;line-height:18px;color:#333;}
.al_left {text-align:left !important}
.al_cnt {text-align:center !important}
.al_right {text-align:right !important}
.mlist1v-goods {overflow:hidden;width:100%;min-height:320px;}
.mlist1v-goods li {position:relative;margin:0 0 6px;font-size:0;line-height:0;background:#fff;}
.mlist1v-goods li:first-child {border-top:1px solid #e5e5e5;}
.mlist1v-goods li span {display:block;vertical-align:top;}
.mlist1v-goods li em {display:inline-block;margin-left:0;font-style:normal;vertical-align:2px;}
.tab_contents .mlist1v-goods li:first-child {border-top:0;}
.mlist1v-goods.mlist2v-best li:last-child {margin-bottom:0;}
.mlist1v-goods li > a {display:block;width:100%;font-size:0;line-height:0;vertical-align:top;}
.mlist1v-goods li .imgSmall {position:relative;width:100%;padding:10px 30px;}
.mlist1v-goods li .img .minor {position:relative;padding-top:115px;width:100%;height:100%;background:#fff url(/mc-static-root/image/mypage/icon_minor.png) no-repeat center 40px;background-size:110px auto;font-weight:bold;font-size:11px;line-height:15px;color:#ee0000;text-align:center;}
.prdDetailArea .best,
.prdDetailArea .new,
.mlist1v-goods li .imgSmall .best,
.mlist1v-goods li .imgSmall .new {position:absolute;top:15px;left:20px;width:40px;height:40px;padding:9px 0 0;background:#fff;border-radius:30px;font-weight:bold;font-size:12px;text-align:center;line-height:19px;letter-spacing:-1.5px;z-index:1;}
.prdDetailArea .best,
.mlist1v-goods li .imgSmall .best {color:#f05a5e;border:1px solid #f05a5e;}
.prdDetailArea .new,
.mlist1v-goods li .imgSmall .new {color:#00b4aa;border:1px solid #00b4aa;text-indent:-2px;}
.mlist1v-goods li .box {position:relative;}
.mlist1v-goods li .jeem {position:absolute;top:5px;right:0;width:32px;height:30px;padding:15px 20px;box-sizing:initial;background:url(/mc-static-root/image/comm/ico_jeem_off.png) no-repeat center center;background-size:32px 30px;font-size:0;text-indent:-99999px;line-height:0;z-index:1;}
.mlist1v-goods li .jeem.mClick {background:url(/mc-static-root/image/comm/ico_jeem_on.png) no-repeat center center;background-size:32px 30px;}
.mlist1v-goods li .imgSmall .img {position:relative;width:200px;height:200px;margin:0 auto;background-color:#fff;text-align:center;}
.mlist1v-goods li .imgSmall .img img {width:auto !important;max-width:200px;height:auto !important;max-height:200px;}
.mlist1v-goods li .area {position:relative;padding:0 20px 20px;border-top:1px solid #e5e5e5;}
.mlist1v-goods li .name,
.mlist1v-goods li .text {overflow:hidden;padding:0 10px;box-sizing:initial;color:#333;}
.mlist1v-goods li .text {max-height:36px;}
.mlist1v-goods li .name {padding:15px 0 0;font-size:18px;line-height:23px;white-space:nowrap;text-overflow:ellipsis}
.mlist1v-goods li .text {padding:3px 0 0;font-size:15px;line-height:18px;}
.mlist1v-goods li .sale {display:inline-block;margin:0 6px 0 0;padding:7px 0 0;color:#b0b0b0;font-size:13px;text-decoration:line-through;line-height:18px;letter-spacing:0;}
.mlist1v-goods li .sale em {font-size:12px;line-height:16px;}
.mlist1v-goods li .won {display:inline-block;padding-top:5px;color:#333;font-family:'montserratregular';font-size:20px;line-height:22px;letter-spacing:-0.04em;}
.mlist1v-goods li .won em {display:inline-block;margin-left:0;font-weight:bold;font-size:12px;line-height:22px;vertical-align:2px;}
.mlist1v-goods li .eval {display:block;overflow:hidden;position:absolute;height:24px;bottom:17px;right:20px;}
.mlist1v-goods li .eval .star {display:inline-block;float:left;width:76px;height:24px;background:url(/mc-static-root/image/comm/ico_review_point3_off.png) no-repeat 0 center;background-size:76px auto;}
.mlist1v-goods li .eval .star span {display:inline-block;height:24px;background:url(/mc-static-root/image/comm/ico_review_point3_on.png) no-repeat 0 center;background-size:76px auto;text-indent:-9999px;}
.mlist1v-goods li .eval em {display:inline-block;float:left;padding-left:5px;background:#fff;color:#aaa;font-size:12px;line-height:24px;letter-spacing:0;vertical-align:top;}
.soldOut {display:block;position:absolute;bottom:0;left:0;width:100%;height:40px;background:rgba(0,0,0,0.2);font-weight:bold;font-size:14px;line-height:40px;color:#fff;text-align:center;}
div.soldend70 *{color:#cccccc !important}
div.soldend70+.price_info .prd_price *{color:#ccc;}
span.soldend70{position:absolute;top:63px;left:0;display:block;width:70px;height:27px;color:#fff !important;font-size:12px;line-height:26px;text-align:center;background:rgba(0,0,0,0.6);z-index:1;}/* mypage 판매종료 */
.allsoldOut {display:block;position:absolute;bottom:0;left:0;width:100%;height:40px;background:rgba(0,0,0,0.6);font-weight:bold;font-size:14px;line-height:40px;color:#fff;text-align:center;}
.mlist2v-goods {overflow:hidden;width:100%;} 
.mlist2v-goods li {position:relative;font-size:0;line-height:0;background:#fff;}
.mlist2v-goods li span,
.curation_list li span{display:block;vertical-align:top;}
.mlist2v-goods li em {display:inline-block;margin-left:0;font-style:normal;vertical-align:1px;}
.mlist2v-goods li .goods {padding:0 5px;border-bottom:1px solid #e5e5e5;}
.mlist2v-goods li .goods:after {display:block;content:"";clear:both;}
.mlist2v-goods li .goods a {display:block;float:right;width:50%;padding:20px 10px 30px;background:#fff;text-align:center;font-size:0;line-height:0;vertical-align:top;}/* 당일배송 수정 */
.mlist2v-goods li .goods a:first-child {float:left;}
.mlist2v-goods li .goods .imgSmall {overflow:hidden;position:relative;width:100%;}
.mlist2v-goods li .goods .imgSmall .img {position:relative;width:160px;height:160px;margin:0 auto;background-color:#fff;}
.mlist2v-goods li .goods .imgSmall .img img {width:auto;max-width:160px;height:auto;max-height:160px;text-align:center;}
.mlist2v-goods li .goods .imgSmall .best,
.mlist2v-goods li .goods .imgSmall .new {position:absolute;top:5px;left:5px;width:40px;height:40px;padding:10px 0 0;border-radius:30px;background-color:#fff;font-weight:bold;font-size:12px;text-align:center;line-height:19px;letter-spacing:-1.5px;z-index:1;}
.mlist2v-goods li .goods .imgSmall .best {color:#f05a5e;border:1px solid #f05a5e;}
.mlist2v-goods li .goods .imgSmall .new {color:#00b4aa;border:1px solid #00b4aa;text-indent:-2px;}
/* 당일 배송 추가  */
.mlist2v-goods li .goods .imgSmall .flag.delivery{position:absolute;right:5px;bottom:5px;width:40px;height:40px;padding:6px 0 0;border-radius:30px;background-color:blue;background-color:blue;color:#fff;font-weight:bold;font-size:12px;text-align:center;line-height:14px;letter-spacing:-1.5px;z-index:1;}
.mlist2v-goods li .img .minor {position:relative;padding-top:105px;width:100%;height:100%;background:#fff url(/mc-static-root/image/mypage/icon_minor.png) no-repeat center 25px;background-size:110px auto;font-weight:bold;font-size:11px;line-height:15px;color:#ee0000;text-align:center;}
.mlist2v-goods.mlist2v-best li .goods .imgSmall .best,
.mlist2v-goods.mlist2v-best li .goods .imgSmall .new {left:5px;}
.mlist1v-goods.mlist2v-best li .goods .imgSmall .best,
.mlist2v-goods.mlist2v-best li .goods .imgSmall .best,
.mlist1v-goods.mlist2v-best li .goods .imgSmall .new,
.mlist2v-goods.mlist2v-best li .goods .imgSmall .new {padding:7px 0 0;}
.mlist2v-goods li .goods .name,
.mlist2v-goods li .goods .text {overflow:hidden;padding:0 10px;box-sizing:initial;color:#333;font-size:15px;line-height:18px;}  
.mlist2v-goods li .goods .name {height:20px;padding:11px 0 0;text-overflow:ellipsis;white-space:nowrap;}
.mlist2v-goods li .goods .text {height:32px;padding:0 0 4px;margin:0 0 6px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.mlist2v-goods li .goods .sale {height:16px;color:#777;font-size:13px;text-decoration:line-through;line-height:16px;letter-spacing:0;margin-bottom:2px;}
.mlist2v-goods li .goods .sale em {font-size:12px;line-height:16px;vertical-align:1px;}
.mlist2v-goods li .goods .won {height:20px;color:#333;font-family:'montserratregular';font-size:20px;line-height:22px;letter-spacing:-0.04em;}
.mlist2v-goods li .goods .won em {font-weight:bold;font-size:12px;line-height:22px;vertical-align:1px;}
.mlist2v-best li .imgSmall .best {padding-top:7px;line-height:12px !important;}
.mlist2v-best li .imgSmall .best em {display:block;font-style:normal;}
.mlist2v-goods.mlist2v-best li .goods .imgSmall .best {font-size:10px;}
.mlist2v-goods.mlist2v-best li .goods .imgSmall .best em {font-size:13px;}
.mlist2v-goods li .goods .icon .sale {height:20px;font-size:12px;line-height:18px;color:#fff;}
.mHome-visual ~ .mlist2v-goods.plan {background-color:#fff;}
.mHome-visual ~ .mlist2v-goods.plan li:first-child {padding-top:30px !important}
.mlist2v-goods.plan li {position:relative;padding-top:10px;}
.mlist2v-goods.plan li .imgBig {overflow:hidden;}
.mlist2v-goods.plan li:first-child {padding-top:0;}
.mlist2v-goods.plan li .stit {overflow:hidden;text-overflow:clip;width:100%;min-height:70px;max-height:70px;padding:20px 5px 0;color:#333;font-size:20px;text-align:center;line-height:30px;}
.mlist2v-goods.plan li .stit span {overflow:hidden;max-height:20px;display:block;font-weight:normal;font-size:15px;line-height:20px;text-overflow:clip;white-space:nowrap;text-align:center;}
.mlist2v-goods.plan li .goods {padding:0 5px 5px;border-bottom:0;}
.mlist2v-goods.plan li .goods>div {overflow:hidden;background-color:#fff;width:100%;}
.mlist2v-goods.plan li .goods .imgSmall .best {left:5px;}
.mlist2v-goods.plan ~ .band-Banner {padding-top:30px;}
.mlist3v-goods {width:100%;padding:0 10px;background:#fff;}
.mlist3v-goods li {position:relative;border-top:1px solid #e5e5e5;}
.mlist3v-goods li .btn_zzim {position:absolute;top:2px;right:2px;width:56px;height:56px;text-indent:-9999px;background:#fff url(/mc-static-root/image/comm/ico_jeem_off.png) no-repeat 50% 50%;background-size:auto 30px}
.mlist3v-goods li .btn_zzim.zzim_on {background-image:url(/mc-static-root/image/comm/ico_jeem_on.png)}
.mlist3v-goods li .jeem {position:absolute;top:90px;left:80px;width:40px;height:40px;text-indent:-9999px;background:url(/mc-static-root/image/comm/ico_jeem_off2.png) no-repeat 0 0;background-size:40px auto;z-index:1;}
.mlist3v-goods li .jeem.mClick {background-image:url(/mc-static-root/image/comm/ico_jeem_on2.png)}
.mlist3v-goods li:first-child {font-size:0;line-height:0;}
.mlist3v-goods li span {display:block;vertical-align:top;}
.mlist3v-goods li > a {overflow:hidden;display:table;width:100%;position:relative;padding:10px 0;min-height:140px;table-layout:fixed;}
.mlist3v-goods li a .img {display:table-cell;overflow:hidden;position:absolute;top:15px;left:0;width:110px;height:110px;text-align:center;}
.mlist3v-goods li a .img img {width:auto !important;height:auto !important;max-width:110px;max-height:110px;}
.mlist3v-goods li .img .soldBox {display:block;position:relative;}
.mlist3v-goods li .txtus {display:table-cell;width:100%;padding-left:130px;min-height:110px;vertical-align:middle;}
.mlist3v-goods li .txtus .tit,
.mlist3v-goods li .txtus .txt {color:#000;font-size:15px;line-height:18px;}
.mlist3v-goods li .txtus .tit {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mlist3v-goods li .txtus .txt {overflow:hidden;height:auto;max-height:36px;}
.mlist3v-goods li .txtus .price {padding:3px 0 0;}
.mlist3v-goods li .txtus .price .sale {display:inline-block;padding:3px 6px 0 0;color:#b0b0b0;font-size:13px;line-height:18px;text-decoration:line-through;letter-spacing:-0.5px;}
.mlist3v-goods li .txtus .price .won {display:inline-block;color:#333;font-weight:bold;font-size:20px;line-height:22px;letter-spacing:-0.5px;}
.mlist3v-goods li .txtus .price .sale em {line-height:16px;}
.mlist3v-goods li .txtus .price .won em {line-height:22px;}
.mlist3v-goods li .txtus .price .sale em,
.mlist3v-goods li .txtus .price .won em {display:inline-block;margin-left:0;font-style:normal;font-size:12px;vertical-align:2px;}
.mlist3v-goods li .txtus .price .sale em {vertical-align:1px;}
.mlist3v-goods li .jeem {top:85px;left:85px;}
.late-conts .mlist3v-goods {border-bottom:1px solid #e5e5e5;}
.late-conts .mlist3v-goods li a {position:relative;padding:15px 10px;min-height:140px;}
.late-conts .mlist3v-goods li .img {position:absolute;top:15px;left:10px;width:110px;height:110px;padding:0;}
.late-conts .mlist3v-goods li .img img {width:auto !important;max-width:110px;height:auto !important;max-height:110px;}
.late-conts .mlist3v-goods li .txtus {padding-left:125px;}
.late-conts .mlist3v-goods li .icon {overflow:hidden;}
.late-conts .mlist3v-goods li .icon span {float:left;}
.late-conts .mlist3v-goods li .jeem {left:80px;}
.late-conts .mlist3v-goods li.nodataTxt {height:140px;padding-top:60px;font-size:15px;line-height:20px;color:#888;text-align:center;}
.mlist5v-goods {width:100%;border-top:1px solid #e5e5e5;}
.mlist5v-goods li {position:relative;min-height:140px;background:#fff;border-bottom:1px solid #e5e5e5;}
.mlist5v-goods li .jeem {position:absolute;top:85px;left:85px;width:40px;height:40px;text-indent:-9999px;background:url(/mc-static-root/image/comm/ico_jeem_off2.png) no-repeat 0 0;background-size:40px auto;z-index:2;}
.mlist5v-goods li .jeem.mClick {background-image:url(/mc-static-root/image/comm/ico_jeem_on2.png)}
.mlist5v-goods li > a {display:table;width:100%;table-layout:fixed;}
.mlist5v-goods li span {display:block;vertical-align:top;}
.mlist5v-goods li > a {overflow:hidden;position:relative;padding:15px;min-height:140px;}
.mlist5v-goods li .img {overflow:hidden;position:absolute;width:110px;height:110px;display:table-cell;text-align:center;}
.mlist5v-goods li .img img {width:auto !important;max-width:110px;height:auto !important;max-height:110px;}
.mlist3v-goods li .img .minor,
.mlist5v-goods li .img .minor {position:relative;padding-top:78px;width:100%;height:100%;background:#fff url(/mc-static-root/image/mypage/icon_minor.png) no-repeat 0 0;background-size:110px auto;font-weight:bold;font-size:11px;line-height:15px;color:#ee0000;text-align:center;}
.mlist5v-goods li .tit {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mlist5v-goods li .txtus.finish *{color:#ccc !important;}
.mlist5v-goods li .txtus {overflow:hidden;width:100%;display:table-cell;padding-left:130px;padding-right:15px;min-height:110px;vertical-align:middle;text-align:left;}
.mlist5v-goods li .txtus .tit,
.mlist5v-goods li .txtus .txt {padding-top:0;color:#000;font-size:15px;line-height:19px;}
.mlist5v-goods li .txtus .txt {overflow:hidden;height:auto;max-height:40px;}
.mlist5v-goods li .txtus .option {overflow:hidden;padding-top:5px;font-weight:bold;font-size:13px;color:#9bce26;word-wrap:break-word;white-space:nowrap;}
.mlist5v-goods li .txtus .price {padding:4px 0 0;word-break:normal}
.mlist5v-goods li .txtus .price .sale {display:inline-block;padding:3px 4px 0 0;color:#777;font-size:13px;line-height:18px;text-decoration:line-through;letter-spacing:0;word-break:normal}
.mlist5v-goods li .txtus .price .won {display:inline-block;color:#333;font-family:'montserratregular';font-size:20px;line-height:22px;letter-spacing:-0.04em;word-break:normal}
.mlist5v-goods li .txtus .price .sale em {line-height:16px;}
.mlist5v-goods li .txtus .price .won em {line-height:22px;}
.mlist5v-goods li .txtus .price .sale em,
.mlist5v-goods li .txtus .price .won em {display:inline-block;margin-left:0;font-weight:bold;font-style:normal;font-size:12px;vertical-align:2px;}
.mlist5v-goods li .delete {position:absolute;top:5px;right:5px;width:35px;height:35px;background:url(/mc-static-root/image/comm/ico_delete01.png) no-repeat 50% 50%;background-size:15px auto;font-size:0;line-height:0;text-indent:-9999px;z-index:1;}
.mlist5v-goods li .alarm {overflow:hidden;padding:12px 0;margin:0 15px;height:42px;background:url(/mc-static-root/image/comm/bg_dashed02.png) repeat-x 0 0;background-size:6px auto;}
.mlist5v-goods li .alarm span {display:block;font-size:12px;line-height:18px;color:#666;}
.mlist5v-goods li .alarm span em {display:inline-block;margin-left:8px;padding-left:8px;padding-top:1px;background:url(/mc-static-root/image/comm/bar2x20.png) no-repeat 0 5px;background-size:1px auto;font-style:normal;line-height:16px;vertical-align:top;letter-spacing:-0.5px;word-break:normal;}
.mlist5v-goods li .alarm .data {float:left;width:70%;}
.mlist5v-goods li .alarm .type {float:right;width:30%;text-align:right;}
.mlist5v-goods li .alarm .type em {font-weight:bold;}
.mlist5v-goods li .ranking {display:inline-block;position:absolute;top:20px;left:20px;width:32px;height:32px;padding:6px 0 0;background:#000;border-radius:30px;color:#fff;font-size:13px;text-align:center;line-height:18px;z-index:1;font-weight:bold;}
.mlist5v-goods li .ranking em {display:inline-block;font-style:normal;font-size:16px;vertical-align:-1px;font-weight:normal;font-family:'montserratregular';letter-spacing:0;}
.mlist5v-goods.basic {margin-top:10px;}
.mlist5v-goods.basic li a .txtus {padding-right:0;}
.mlist5v-goods.shopping li a .img .soldOut {padding-right:0;}
.list-group {background-color:#fff;padding-bottom:15px;text-align:center;}
.list-group .mlist5v-goods {border-top:0;}
.list-group .btnLinkMore2 {margin-top:0;border-top:0;border-radius:0;border-color:#e5e5e5}
.list-group .btnLinkMore2 > span {padding-right:15px;background:url(/mc-static-root/image/comm/ico_arrow10x17.png) no-repeat right 50%;background-size:5px auto}
.mlist1v-hot li .icon,
.mlist1v-goods li .icon,
.mlist2v-goods li .icon,
.mlist3v-goods li .icon,
.mlist5v-goods li .icon,
.curation_list li .icon,
.review_best_list .item_box .icon,
.basket_list .prd_info .icon,
.order_prd_info .prd_tit span.icon {padding:9px 0 0;font-size:0;line-height:0;height:29px;}
.basket_list .prd_info .icon {height:30px;}
.mlist1v-hot li .icon span,
.prdDetailArea .iconBox .icon span,
.mlist1v-goods li .icon span,
.mlist2v-goods li .icon span,
.mlist3v-goods li .icon span,
.mlist5v-goods li .icon span,
.curation_list li .icon span,
.review_best_list .item_box .icon span,
.basket_list .prd_info .icon span,
.prd_item_box_wrap .item .icon span,
.listPlusPrd li .box .tit span.icon span, 
.listPlusPrd li .box span.icon span,
.order_prd_info .prd_tit span.icon span{display:inline-block;width:40px;height:20px;border-radius:10px;color:#fff !important;font-weight:bold;font-size:12px;line-height:18px;text-align:center;}

.mlist1v-hot li .icon .plus,
.prdDetailArea .iconBox .icon .plus,
.mlist1v-goods li .icon .plus,
.mlist2v-goods li .icon .plus,
.mlist3v-goods li .icon .plus, 
.mlist5v-goods li .icon .plus,
.curation_list li .icon .plus,
.review_best_list .item_box .icon .plus,
.basket_list .prd_info .icon .plus,
.order_prd_info .prd_tit span.icon span.plus {font-weight:normal;font-family: 'montserratregular';background:#ff8942;font-size:12px;line-height:20px;letter-spacing:-0.04em;} /* 1+1 */
.mlist1v-hot li .icon .present,
.prdDetailArea .iconBox .icon .present,
.mlist1v-goods li .icon .present,
.mlist2v-goods li .icon .present,
.mlist3v-goods li .icon .present, 
.mlist5v-goods li .icon .present,
.curation_list li .icon .present,
.review_best_list .item_box .icon .present,
.basket_list .prd_info .icon .present,
.order_prd_info .prd_tit span.icon span.present {font-weight:normal;font-family: 'montserratregular';background:#ff8942;font-size:12px;line-height:20px;letter-spacing:-0.04em;} /*  GIFT(신규) */
.mlist1v-hot li .icon .present,
.prdDetailArea .iconBox .icon .present,
.mlist1v-goods li .icon .present,
.mlist2v-goods li .icon .present,
.mlist3v-goods li .icon .present, 
.mlist5v-goods li .icon .present,
.curation_list li .icon .present,
.review_best_list .item_box .icon .present,
.basket_list .prd_info .icon .present,
.order_prd_info .prd_tit span.icon span.present {font-weight:normal;font-family: 'montserratregular';background:#ff8942;font-size:12px;line-height:20px;letter-spacing:-0.04em;} /*  GIFT(신규) */
.mlist1v-hot li .icon .coupon,
.prdDetailArea .iconBox .icon .coupon,
.mlist1v-goods li .icon .coupon,
.mlist2v-goods li .icon .coupon,
.mlist3v-goods li .icon .coupon,
.mlist5v-goods li .icon .coupon,
.curation_list li .icon .coupon,
.review_best_list .item_box .icon .coupon,
.basket_list .prd_info .icon .coupon,
.order_prd_info .prd_tit span.icon span.coupon {background:#9bce26;} /* 쿠폰 */
.mlist1v-hot li .icon .gift,
.prdDetailArea .iconBox .icon .gift,
.mlist1v-goods li .icon .gift,
.mlist2v-goods li .icon .gift,
.mlist3v-goods li .icon .gift ,
.mlist5v-goods li .icon .gift,
.curation_list li .icon .gift,
.review_best_list .item_box .icon .gift,
.basket_list .prd_info .icon .gift,
.order_prd_info .prd_tit span.icon span.gift {background:#6fcff7;} /* 증정 */
.mlist1v-hot li .icon .free,
.prdDetailArea .iconBox .icon .free,
.mlist1v-goods li .icon .free,
.mlist2v-goods li .icon .free,
.mlist3v-goods li .icon .free,
.mlist5v-goods li .icon .free,
.curation_list li .icon .free,
.review_best_list .item_box .icon .free,
.basket_list .prd_info .icon .free,
.order_prd_info .prd_tit span.icon span.free {background:#ad85ed;} /* 무배 */
.mlist1v-hot li .icon .sale,
.prdDetailArea .iconBox .icon .sale,
.mlist1v-goods li .icon .sale,
.mlist2v-goods li .icon .sale,
.mlist3v-goods li .icon .sale,
.mlist5v-goods li .icon .sale,
.curation_list li .icon .sale,
.review_best_list .item_box .icon .sale,
.basket_list .prd_info .icon .sale,
.order_prd_info .prd_tit span.icon span.sale{background:#f27370;margin:0;text-decoration:none;padding-top:0;} /* 세일 */

.mlist1v-hot li .icon .delivery,
.prdDetailArea .iconBox .icon .delivery,
.mlist1v-goods li .icon .delivery,
.mlist2v-goods li .icon .delivery,
.mlist3v-goods li .icon .delivery,
.mlist5v-goods li .icon .delivery,
.curation_list li .icon .delivery,
.basket_list .prd_info .icon .delivery,
.review_best_list .item_box .icon .delivery,
.order_info_area .tx_order_no span.icon > span.delivery,
.prd_item_box_wrap .item .icon span.delivery,
.listPlusPrd li .box .tit span.icon span.delivery, 
.listPlusPrd li .box span.icon span.delivery,
.order_prd_info .prd_tit span.icon span.delivery{width:60px;background:#f374b7;} /* 당일 배송 추가 */
.order_info_area .tx_order_no > span.icon span.offlineStore{background:#7775de;} /* 오프라인 리뷰 */
.order_prd_info .prd_tit span.icon span.offlineStore{padding:0;margin:0}
.order_prd_info .prd_tit span.icon span{line-height:20px;} 

/* 당일 아이콘 추가 */
@media screen and (max-width:400px){
	.mlist2v-goods li span.icon span+span+span+span.delivery{margin-top:4px;}
	.curation_list li span.icon span+span+span+span.delivery{margin-top:4px;}	
}
.order_info_area .tx_order_no span.icon{margin:0;padding:0;letter-spacing:-1px;background:none;font-family:'AppleSDGothicNeo', 'Roboto', 'montserratlight', sans-serif}/* 초기화*/
.order_info_area .tx_order_no span.icon{position: relative;display:inline-block;;min-height: 18px;}
.order_info_area .tx_order_no span.icon > span{display:inline-block;overflow: hidden;position: relative;border-radius: 12px;width: 40px;height: 20px;margin-left:10px;font-size:11px;line-height:20px;text-align:center;font-weight: bold;vertical-align: top;color:#fff;}

.mVisi {visibility:hidden !important;margin:0 !important;padding:0 !important;font-size:0 ;line-height:0;}
.midCateArea {overflow:hidden;margin-top:10px;height:46px;background-color:#fff;border-top:1px solid #e6e6e6;}
.midCateArea .prdSoting {float:left;width:72%;height:46px;border-radius:0;border:0;padding:0 25px 0 15px}
.midCateArea .listSel {overflow:hidden;float:left;width:28%;height:46px;}
.midCateArea .listSel button {float:left;width:50%;height:46px;padding:12px 10px 13px;background-color:#fff;border-left:1px solid #e6e6e6;}
.midCateArea .listSel button span{display:inline-block;width:19px;height:19px;background:url(/mc-static-root/image/product/prd_list_sel.png) no-repeat -19px 0;background-size:38px auto;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top;}
.midCateArea .listSel button.on span {background:url(/mc-static-root/image/product/prd_list_sel.png) no-repeat -19px -19px;background-size:38px auto;}
.midCateArea .listSel button:first-child span{background:url(/mc-static-root/image/product/prd_list_sel.png) no-repeat 0 0;background-size:38px auto;}
.midCateArea .listSel button:first-child.on span{background:url(/mc-static-root/image/product/prd_list_sel.png) no-repeat 0 -19px;background-size:38px auto;}
.midCateArea.mSearch .prdSoting {width:52%;}
.midCateArea.mSearch .listSel {width:28%;}
.midCateArea.mSearch .mButtonSearch {width:20%;height:46px;border-left:1px solid #e6e6e6;background:#fff;color:#666;font-size:13px;line-height:15px;}
.area-goods .mlist1v-goods li {background:#eee;margin-bottom:0;}
.area-goods .mlist1v-goods li a {display:block;margin:0 0 6px;background:#fff;}
.area-goods .mlist2v-goods {border-top:1px solid #e6e6e6;min-height:320px;}
#mSub1s-menu, 
#mSub2s-menu {height:40px;background:#9bce26;border-bottom:1px solid #fff}
#mSub1s-menu .sub_gnb_cate, #mSub2s-menu .sub_gnb_cate {display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;height:40px}
#mSub1s-menu .sub_gnb_cate > li, 
#mSub2s-menu .sub_gnb_cate > li {position:relative;padding:0 15px}
#mSub1s-menu .sub_gnb_cate > li:first-child,
#mSub2s-menu .sub_gnb_cate > li:first-child {padding:0 15px 0 30px}
#mSub1s-menu .sub_gnb_cate > li:last-child,
#mSub2s-menu .sub_gnb_cate > li:last-child {padding:0 30px 0 15px}
#mSub1s-menu .sub_gnb_cate > li > a, 
#mSub2s-menu .sub_gnb_cate > li > a {display:block;position:relative;padding:8px 0;color:rgba(255,255,255,0.75);font-size:15px;height:40px;line-height:24px;word-break:normal;}
#mSub1s-menu .sub_gnb_cate > li.on > a, 
#mSub2s-menu .sub_gnb_cate > li.on > a {color:rgba(255,255,255,1);font-size:15px;font-weight:bold}
#mSub1s-menu .sub_gnb_cate > li.on > a:after,
#mSub2s-menu .sub_gnb_cate > li.on > a:after {display:block;content:"";position:absolute;bottom:0;left:50%;margin-left:-5px;border-bottom:5px solid #fff;border-left: 5px solid transparent;border-right:5px solid transparent}

/*
#mSub1s-menu, #mSub2s-menu {height:40px;background:#d7d900;border-bottom:1px solid #fff}
#mSub1s-menu .sub_gnb_cate, #mSub2s-menu .sub_gnb_cate {display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;height:40px;padding:8px 0}
#mSub1s-menu .sub_gnb_cate > li, #mSub2s-menu .sub_gnb_cate > li {position:relative;padding:0 5px}
#mSub1s-menu .sub_gnb_cate > li > a, #mSub2s-menu .sub_gnb_cate > li > a {display:block;padding:0 5px;color:#fff;font-size:15px;height:24px;line-height:24px;word-break:normal;}
#mSub1s-menu .sub_gnb_cate > li.on > a, #mSub2s-menu .sub_gnb_cate > li.on > a {padding:0 12px;font-weight:bold;color:#fff;font-size:14px;background-color:#8d8e04;border-radius:14px;}
#mSub1s-menu .sub_gnb_cate > li:first-child, #mSub2s-menu .sub_gnb_cate > li:first-child {padding:0 5px 0 10px}
#mSub1s-menu .sub_gnb_cate > li:last-child, #mSub2s-menu .sub_gnb_cate > li:last-child {padding:0 10px 0 5px}
*/
/* #mSub1s-menu:before, #mSub2s-menu:before {content:'';display:block;height:4px;border-top:1px solid #ccc;border-bottom:1px solid #ddd;background:#e5e5e5} */
#mSub1s-menu.fixed_gnb , #mSub2s-menu.fixed_gnb {position:fixed;z-index:10;transform:translate(0,0);-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transition:transform .2s;-webkit-transition:transform .2s;-ms-transition:transform .2s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden}
#mSub1s-menu.fixed_gnb.scroll_down, #mSub2s-menu.fixed_gnb.scroll_down {transform:translate(0, -95px);-webkit-transform:translate(0,-95px);-ms-transform:translate(0,-95px)}
#mSub1s-menu.fixed_gnb+.main_contents, #mSub2s-menu.fixed_gnb+.main_contents {padding:50px 0 0}
.swiper-area {position:relative;}
.swiper-area .button-view {display:inline-block;z-index:12;position:absolute;top:3px;right:0;width:72px;height:44px;padding:0 0 0 25px;background:url(/mc-static-root/image/comm/bg_limpi.png) no-repeat 0 0;background-size:25px 43px;}
.swiper-area .button-view button {display:block;width:47px;height:44px;background:url(/mc-static-root/image/comm/button_open.png) no-repeat 0 0;background-size:100% 100%;font-size:0;text-indent:-99999px;line-height:0;}
.swiper-area .button-view button.mClick {background:url(/mc-static-root/image/comm/button_close.png) no-repeat 0 0;background-size:100% 100%;}
.swiper-area .mlist-menu {overflow:hidden;z-index:7;background:#fbfbfb;display:none;position:absolute;top:46px;left:0;width:100%;}
.swiper-area.open .mlist-menu {display:block;}
.swiper-area .mlist-menu ul {overflow:hidden;width:100%;background:#fbfbfb;}
.swiper-area .mlist-menu ul li {float:left;width:33.5%;border-top:1px solid #eee;border-left:1px solid #eee;font-size:0;line-height:0;}
.swiper-area .mlist-menu ul li:nth-child(1), .swiper-area .mlist-menu ul li:nth-child(4), .swiper-area .mlist-menu ul li:nth-child(7), .swiper-area .mlist-menu ul li:nth-child(10), .swiper-area .mlist-menu ul li:nth-child(13), .swiper-area .mlist-menu ul li:nth-child(16), .swiper-area .mlist-menu ul li:nth-child(19), .swiper-area .mlist-menu ul li:nth-child(22), .swiper-area .mlist-menu ul li:nth-child(25), .swiper-area .mlist-menu ul li:nth-child(28), .swiper-area .mlist-menu ul li:nth-child(31) {width:33%;border-left:0;}
.swiper-area .mlist-menu ul li a {display:block;overflow:hidden;width:100%;height:50px;padding:15px 5px 0;color:#888;font-weight:bold;font-size:13px;text-overflow:ellipsis;text-align:center;line-height:18px;vertical-align:top;white-space:nowrap;}
.swiper-area .mDim {display:none;}
.swiper-area.open .mDim {z-index:6;display:block;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.8);cursor:pointer;}
/*
.swiper-area.fixArea .button-view {position:fixed;top:0;right:0}
#mSubGnb.fixArea~.button-view {position:fixed;top:0;right:0}
*/
#mContents.mdim {position:relative;}
#mContents.mdim:after {display:block;content:"";z-index:6;display:block;position:fixed;top:110px;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);}
li.nodata {height:240px;margin-bottom:0 !important;padding:140px 0 75px;background:#fff url(/mc-static-root/image/customer/bg_no_result03.png) no-repeat 50% 40%;background-size: 64px auto;color:#999;font-size:15px !important;text-align:center;line-height:19px !important;}
li.nodataTxt {height:140px;padding-top:60px;font-size:15px;line-height:20px;color:#888;text-align:center;}
#mSearchWrapper {display:none;}
#mSearchWrapper #mContainer {padding-top:124px;}
#mSearchWrapper #mContainer.fix {padding-top:71px;} 
.popular_box {background-color:#fff;margin-top:10px;}
.popular_box .tit {border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding:13px 0 13px 15px;font-size:16px;line-height:20px;color:#000;}
.searchFix {position:fixed;top:0;left:0;z-index:10;width:100%;}
.search_tit {position:relative;padding:15px 15px 15px 50px;border-bottom:1px solid #e5e5e5;background:#fff}
.search_tit button {position:absolute;top:24px;left:20px;width:20px;height:20px;background:#fff url(/mc-static-root/image/comm/btn_back.png) no-repeat 0 0;background-size:20px 20px;font-size:0;text-indent:-99999px;line-height:0;}
.search_tab_area.off,
.search_auto_area.off {display:none}
.search_tab_area {margin-top:-2px}
.search_list > li {position:relative;border-bottom:1px solid #e5e5e5;font-size:14px}
.search_list > li > div {display:block;height:48px;padding:14px 15px;line-height:20px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.search_list.popular > li > div {padding-left:40px}
.search_list.popular > li > div > span {position:absolute;left:0;top:14px;min-width:38px;height:20px;line-height:20px;text-align:center;font-size:18px;color:#9bce26;font-weight:bold}
.search_list.recent > li {padding-right:40px}
.search_list.recent > li > button {position:absolute;top:4px;right:0;width:40px;height:40px;text-indent:-9999px;background:#fff url(/mc-static-root/image/comm/ico_delete02.png) no-repeat 50% 50%;background-size:auto 11px}
.search_list.recent > li:last-child {padding-right:0;border-bottom:0;}
.search_list.recent > li > .alldel {width:100%;background:none;position:static;top:0;height:48px;font-weight:bold;font-size:12px;line-height:48px;color:#999;text-indent:0;}
.search_list.auto > li > div {padding:14px 20px}
.search_list.auto > li > div > span {color:#f27370}
.search_list.auto > li > div > span.flag_brand {display:inline-block;height:20px;margin-right:5px;padding:0 10px;border-radius:10px;border:1px solid #ff8942;color:#ff8942;font-size:11px;line-height:18px}
.free-area {overflow:hidden;width:100%;}
.free-area li {position:relative;background:#fff;border-bottom:1px solid #e5e5e5;}
.free-area li em {display:inline-block;vertical-align:top;}
#mcSearches {padding:0 0 10px;}
.area-mSearches {overflow:hidden;height:71px;padding:10px 15px;background:#fff;border-bottom:1px solid #e5e5e5;}
.area-mSearches.type2{margin-bottom:19px;}/* 오늘드림 검색개선 */
.area-mSearches ul {display:-webkit-box;width:100%;white-space:nowrap;display:-moz-box;display:-ms-flexbox;}
.area-mSearches ul li {display:block;width:20%;height:50px;margin:0 0 0 5px;padding:16px 0 0;border-radius:5px;background:#9bce26;color:#fff;font-weight:bold;font-size:12px;text-align:center;line-height:14px;vertical-align:top;}
.area-mSearches ul li:first-child {margin:0;}
.area-mSearches ul li:nth-child(2) {background-color:#d7d900;}
.area-mSearches ul li:nth-child(3) {background-color:#baae62;}
.area-mSearches ul li:nth-child(4) {background-color:#c8b438;}
.area-mSearches ul li:nth-child(5) {background-color:#cfc676;}
.area-mSearches ul li:nth-child(6) {background-color:#e9cd21;}
.area-mSearches ul li:nth-child(7) {background-color:#e9b821;}
.area-mSearches ul li:nth-child(8) {background-color:#dba13d;}
.area-mSearches ul li:nth-child(9) {background-color:#db8b3d;}
.area-mSearches ul li:nth-child(10) {background-color:#db753d;}
.area-mSearches ul li:nth-child(11) {background-color:#d49177;}
.area-mSearches ul li:nth-child(12) {background-color:#a97764;}
.area-mSearches ul li:nth-child(13) {background-color:#a16d50;}
.area-mSearches ul li:nth-child(14) {background-color:#6f5851;}
.area-mSearches ul li:nth-child(15) {background-color:#714a42;}
.area-mSearches ul li:nth-child(16) {background-color:#939367;}
.area-mSearches ul li:nth-child(17) {background-color:#808244;}
.area-mSearches ul li:nth-child(18) {background-color:#748c3a;}
.area-mSearches ul li:nth-child(19) {background-color:#636445;}
.area-mSearches ul li:nth-child(20) {background-color:#505128;}
.area-mSearches ul li.twoline {padding:10px 0 0;}
.mlist-mSearches {background:#fff;}
.mlist-mSearches .list {width:100%;}
.mlist-mSearches .list li {overflow:hidden;height:39px;padding:0 15px;border-bottom:1px solid #e5e5e5;font-size:0;line-height:0;}
.mlist-mSearches .list li span {float:left;vertical-align:top;}
.mlist-mSearches .list li .txt {overflow:hidden;width:80%;padding:9px 0 0;color:#333;margin:0 0 0 10px;font-size:13px;text-overflow:ellipsis;line-height:18px;white-space:nowrap;}
.mlist-mSearches .list li .icon {width:55px;height:20px;margin:9px 0 0;border-radius:10px;font-weight:bold;font-size:11px;text-align:center;line-height:18px;}
.mlist-mSearches .list li .brand {border:1px solid #f5a031;color:#ff8942;}
.mlist-mSearches .list li .plan {border:1px solid #cddc28;color:#cacf00;}
.mlist-mSearches .list li .event {border:1px solid #ef95b8;color:#ec97b8;}
.result-mSearches {height:45px;padding:11px 15px 0;background:#fff;color:#000;font-size:15px;line-height:20px;}
.result-mSearches .data {display:inline-block;margin:0 0 0 3px;color:#9bce26;font-weight:bold;font-size:16px;line-height:20px;letter-spacing:0;vertical-align:-1px;}
.menu-mSearches {display:none;position:fixed;top:0;right:0;width:75%;height:100%;z-index:100;background-color:#fff;}
.menu-mSearches.show{display:block;overscroll-behavior-y:contain;}
.menu-mSearches .mCarea {position:relative;right:0;overflow-y:scroll;height:100%;background-color:#fff;}
.menu-mSearches .mCarea .top {overflow:hidden;width:100%;height:50px;background:#9bce26;}
.menu-mSearches .mCarea .top h2 {float:left;padding:14px 0 0 15px;color:#fff;font-size:16px;line-height:20px;font-family:'Noto Sans KR';}
.menu-mSearches .mCarea .top .btnRefresh {float:right;margin:16px 47px 0 0;padding:0 16px 0 0;background:#9bce26 url(/mc-static-root/image/comm/bar2x28.gif) no-repeat 100% 50%;color:#fff;font-size:13px;}
.menu-mSearches .mCarea .top .btnRefresh img {width:21px;height:19px;margin:0 0 0 11px;}
.menu-mSearches .listOne li {border-bottom:1px solid #e5e5e5;font-size:0;line-height:0;}
.menu-mSearches .listOne li .mClickOne {display:block;overflow:hidden;width:100%;min-height:41px;height:auto;padding:0 45px 0 15px;background:url(/mc-static-root/image/comm/ico_arrow32x20_off.png) no-repeat 95% 50%;background-size:16px 10px;color:#000;font-size:14px;text-align:left;line-height:20px;}
.menu-mSearches .listOne li .mClickOne .choiceds {display:none;overflow:hidden;float:right;width:60%;color:#9bce26;font-weight:bold;text-overflow:ellipsis;text-align:right;white-space:nowrap;}
.menu-mSearches .listOne li.open .mClickOne .choiceds {display:block;}
.menu-mSearches .listOne li.open .mClickOne {border-bottom:1px solid #e5e5e5;background:url(/mc-static-root/image/comm/ico_arrow32x20_on.png) no-repeat 95% 50%;background-size:16px 10px;}
.menu-mSearches .listOne li.line{height:6px;background-color:#eee;}
.menu-mSearches .listTwo,
.menu-mSearches .listCate {display:none;padding:0 15px 0 50px;background:#fafafa;}
.menu-mSearches li.open > .listTwo,
.menu-mSearches li.open > .listCate {display:block;}
.menu-mSearches .listTwo li,
.menu-mSearches .listCate li {border-top:1px solid #e5e5e5;border-bottom:0;}
.menu-mSearches .listTwo li {position:relative;}
.menu-mSearches .listTwo li:first-child,
.menu-mSearches .listCate li:first-child {border-top:0;}
.menu-mSearches .listOne li:first-child .listTwo > li,
.menu-mSearches .listCate li:first-child .listTwo > li {background:url(/mc-static-root/image/comm/ico_arrow21x12_off.png) no-repeat 100% 18px;background-size:11px 6px;}
.menu-mSearches .listOne li:first-child .listTwo > li.on,
.menu-mSearches .listCate li:first-child .listTwo > li.on {background:url(/mc-static-root/image/comm/ico_arrow21x12_on.png) no-repeat 100% 18px;background-size:11px 6px;color:#333;font-weight:bold;}
.menu-mSearches .listCate li .listSub {display:none;border-top:1px solid #e5e5e5;}
.menu-mSearches .listCate li.on .listSub{display:block;}
.menu-mSearches .listCate>li.on.subOn .cate {background:none;}
.menu-mSearches .listCate>li.on.subOn .cate em {color:#000;}
.menu-mSearches .listCate>li.on.subOn .listSub li.on .cate {padding-right:16px;background:url(/mc-static-root/image/comm/icon_chk_green.png) no-repeat 100% center;background-size:13px auto;}
.menu-mSearches .listOne li:first-child .listCate > li {background:url(/mc-static-root/image/comm/ico_arrow21x12_off.png) no-repeat 100% 18px;background-size:11px 6px;}
.menu-mSearches .listOne li:first-child .listCate > li.on {background:url(/mc-static-root/image/comm/ico_arrow21x12_on.png) no-repeat 100% 18px;background-size:11px 6px;color:#333;font-weight:bold;}
.menu-mSearches .listSub li {padding:0 0 0 15px;background:url(/mc-static-root/image/comm/ico13x13.png) no-repeat 0 50%;background-size:7px 7px;font-weight:normal;}
.menu-mSearches .listTwo li label,
.menu-mSearches .listTwo li .mClickTwo {display:inline-block;min-width:50%;width:auto;height:41px;padding-right:10px;}
.menu-mSearches .listTwo li label {overflow:hidden;width:100%;padding:10px 25px 10px 0;}
.menu-mSearches .listTwo li span.mClickTwo {float:right;width:50%;font-size:0;text-indent:-99999px;line-height:0;}
.menu-mSearches .listTwo li label em {font-style:normal;color:#333;text-align:left;line-height:20px;font-size:13px;}
.menu-mSearches .listTwo li label .choice {display:inline-block;margin:0 0 0 5px;color:#999;font-weight:normal;font-size:12px;line-height:18px;letter-spacing:0;vertical-align:-1px;}
.menu-mSearches .listTwo li label em {font-style:normal;color:#333;font-size:13px;text-align:left;line-height:20px;}
.menu-mSearches .listCate li p {position:relative;width:100%;padding-right:20px}
.menu-mSearches .listCate li p > button {position:absolute;top:0;right:-15px;background:rgba(255,255,255,0);width:40px;height:40px;text-indent:-9999px}
.menu-mSearches .listCate li p > a.on .cate em {color:#9bce26} 
.menu-mSearches .listCate li .cate {display:inline-block;width:auto;height:41px;padding-top:10px;padding-right:10px;}
.menu-mSearches .listCate li .cate em {font-style:normal;color:#333;font-size:14px;text-align:left;line-height:20px;}
.menu-mSearches .listCate li .cate .choice {display:inline-block;margin:0 0 0 5px;color:#999;font-weight:normal;font-size:12px;line-height:18px;letter-spacing:0;vertical-align:-1px;}
.menu-mSearches .listCate>li.on>a>.cate {padding-right:16px;background:url(/mc-static-root/image/comm/icon_chk_green.png) no-repeat 100% center;background-size:13px auto;}
.menu-mSearches .listCate>li.on>a>.cate em,
.menu-mSearches .listCate>li.on.subOn .listSub li.on .cate em{font-weight:bold;color:#9bce26;}
.menu-mSearches .listTwo li input[type="checkbox"] {position:absolute;top:10px;right:0;margin:0;}
.menu-mSearches li.listTwo li input[type="checkbox"]:checked + label em{color:#9bce26;font-weight:bold;}
.menu-mSearches div.listTwo {padding:0 15px 20px;}
.menu-mSearches div.listTwo .input {overflow:hidden;padding:20px 0 0;}
.menu-mSearches div.listTwo .input .des {display:inline-block;width:10%;color:#999;font-size:20px;text-align:center;line-height:40px;}
.menu-mSearches div.listTwo .input input[type="text"] {float:right;width:45%;height:35px;}
.menu-mSearches div.listTwo .input input[type="text"]:first-child {float:left;}
.menu-mSearches div.listTwo button {margin-top:10px;}
.menu-mSearches .listThree {display:none;border-top:1px solid #e5e5e5;}
.menu-mSearches li.on .listThree {display:block;}
.menu-mSearches .listThree li {padding:0 0 0 15px;background:url(/mc-static-root/image/comm/ico13x13.png) no-repeat 0 50%;background-size:7px 7px;font-weight:normal;}
.menu-mSearches .listThree li label {width:100% !important;font-size:13px !important;}
.menu-mSearches .listTwo li.on label,
.menu-mSearches .listThree li.on label {color:#9bce26;font-weight:bold;}
.menu-mSearches .ButtonClose {position:absolute;top:17px;right:15px;width:17px;height:17px;background:url(/mc-static-root/image/comm/ico_close33x33.png) no-repeat 0 0;background-size:100% 100%;font-size:0;line-height:0;text-indent:-99999px;}
.menu-mSearches div.listTwo button {margin-top:10px;height:35px;padding:7px 0 8px;font-size:14px;line-height:20px;}
.menu-mSearches .ButtonClose {position:absolute;top:17px;right:15px;width:17px;height:17px;background:url(/mc-static-root/image/comm/ico_close33x33.png) no-repeat 0 0;background-size:100% 100%;font-size:0;line-height:0;text-indent:-99999px;}
.n-keyword {padding:15px;height:55px;background-color:#f6f6f6;border-bottom:1px solid #e5e5e5}
.n-keyword p {font-size:16px;line-height:25px;}
.n-keyword p a {display:inline-block;padding-left:5px;font-weight:bold;color:#9bce26;}

.grayBox1.bg,
.grayBox6.bg {position:relative;padding-top:10px;}
.grayBox1.bg:after,
.grayBox6.bg:after {display:block;content:"";position:absolute;bottom:-30px;left:0;width:100%;height:30px;background-color:#eee;}
.scroll-auto .popCont {overflow-y:auto;max-height:300px;}

/* 2017-03-02 선택적 셀렉트 */
span.select-area {display:inline-block;}
.select-area {position:relative;height:35px;border:1px solid #ccc;border-radius:5px;}
.select-area select {display:block;}
select.replaced {display:none;}
ul.selectReplacement {display:inline-block;position:absolute;width:100%;height:35px;font-size:12px;letter-spacing:-1px;}
ul.selectReplacement li {height:33px;background:#fff;color:#444;cursor:pointer;display:none;font-size:12px;line-height:2em;list-style:none;margin:0;padding:3px 20px 0 5px !important;}
ul.selectOpen li {display:block;}
ul.selectReplacement li.selected {height:33px;color:#000;display:block;border-radius:5px;}
ul.selectReplacement li.selected:hover {border-bottom:1px solid #ccc;}
ul.selectReplacement li:hover {color:#fff}
ul.selectOpen li.selected {background:#fff;display:block;}
ul.selectOpen li:hover, ul.selectOpen li.hover, ul.selectOpen li.selected:hover {color:#fff;}

.common-list {margin-top:10px;border-top:1px solid #e6e6e6;background:#fff;}
.common-list .mlist-payment {border-bottom:0;}
.common-list .mlist-payment li {}
.common-list .mlist-payment li.sale .tit .btnGrayH28 {width:63px;white-space:nowrap;padding:0;margin-left:5px;}
.common-list .mlist-payment li .area li .won {color:#333;}
.common-list .tot_price {overflow:hidden;margin:0 15px;padding:15px 0;text-align:right;font-weight:bold;color:#f47331;font-size:12px;line-height:30px;border-top:1px solid #e6e6e6;}
.common-list .tot_price .tx_tit {display:inline-block;float:left;font-size:15px;line-height:30px;vertical-align:top;}
.common-list .tot_price .tx_price {display:inline-block;margin-right:2px;font-weight:normal;font-family:'montserratregular';letter-spacing:-0.04em;font-size:28px;line-height:30px;vertical-align:top;}
/* 당일 배송 추가 */
.today_close{padding:15px 0 0 0;text-align:center;}
.today_close label{color:#999;font-size:11px;}
.btn_add_fix{position:fixed;bottom:0px;left:0px;width:100%;padding:0 30px;border-top:1px solid #e6e6e6;background-color:#fff;}
.btn_add_fix .btnGreen{margin:20px 0;}

/* 검색서비스개선 S */
.bannerType{margin:-10px 0 20px 0;}
.bannerType > a{display:block;width:100%;height:100px;background:#fff;border-top:1px solid #e5e5e5;}
.bannerType > a:after{content:'';display:block;clear:both;}
.bannerType .thum_area{float:left;padding:15px 0 0 15px;}
.bannerType .thum_area .thum{display:table-cell;position:relative;overflow:hidden;width:128px;height:68px;padding:68px 0 0 128px;border:1px solid #e5e5e5;}
.bannerType .thum_area .thum > span{position:absolute;top:0px;right:0;bottom:0;left:0;-webkit-transform:translate(50%, 50%);-ms-transform:translate(50%, 50%);transform:translate(50%, 50%);}
.bannerType .thum_area .thum > span img{position:absolute;top:0px;left:0;width:auto;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.bannerType .thum_area .thum.noImg > span img{width:100% !important;}
.bannerType dl{margin:25px 0 0 155px;}
.bannerType dl dt .det,
.bannerType dl dt,
.bannerType dl dd{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bannerType dl dd{font-size:11px;font-weight:bold;color:#777;}
.bannerType > a.event dl,
.bannerType > a.plan dl{margin-top:18px;}
.bannerType > a{background:#fff url(/mc-static-root/image/comm/ico_lnb_notice.png) no-repeat 96% 45px;background-size:12px;}
.bannerType > a.event,
.bannerType > a.plan{background-image:none;}
.bannerType > a .rflag{display:inline-block;padding:0 15px;height:20px;line-height:20px;font-size:11px;color:#fff;font-weight:bold;border-radius:10px;}
.bannerType > a.plan .rflag{background-color:#9bce26;}
.bannerType > a.event .rflag{background-color:#ed95b7;}
.bannerType .det{padding-top:7px;font-size:14px;color:#000;}
				
.midCateArea.type2{margin:0 0 0 0;}/* 오늘드림 검색개선 */
.midCateArea.type2 .prdSoting{width:42%;border-left:1px solid #e6e6e6;font-size:13px;color:#666;}
.midCateArea.type2 .listSel{width:13%;}
.midCateArea.type2 .listSel button{width:100%;}
.midCateArea.type2 .mButtonSearch{width:20%;font-size:13px;}
.midCateArea.type2 .search_results{float:left;width:25%;padding-left:15px;line-height:46px;font-size:13px;}
.midCateArea.type2:after{content:'';display:block;clear:both;}
.midCateArea.type2 .search_results span.data{font-family: 'montserratregular';}

.search_tab_area.type2{margin-top:0;}
.search_list:after{content:'';display:block;clear:both;}
.search_list.type2.recent > li,
.search_list.type2.popular > li{float:left;width:50%;}
.search_list.type2.recent > li:last-child{position:relative;top:-1px;clear:both;float:none;width:100%;border-top: 1px solid #e5e5e5;}

/* 오늘드림 검색개선 */
.today_search_area{position:relative;height:44px;line-height:44px;margin-top:-10px;padding:0 0 0 15px;background-color:#fff;border-top:1px solid #e6e6e6}
.today_search_area label{font-size:13px;color:#666;}
.list_check_today{background-color:#eee;padding-bottom:5px;}
.list_check_today .listCheck{position:relative;border-bottom:1px solid #e5e5e5;background-color:#fff;}
.list_check_today .listCheck .check_detail{display:block;padding:0 45px;line-height:41px;font-size:14px;color:#000;font-family:'Noto Sans KR';}
.list_check_today .listCheck .check_detail .chkSmall{position:absolute;top:9px;left:15px;margin:0;}
.listArea{border-top:1px solid #e5e5e5;}

/* 속성검색 */
.menu-mSearches {width:83%;}
.menu-mSearches .mCarea{overscroll-behavior-y: contain;-webkit-overflow-scrolling: touch;}
.today_search_area .mButtonSearch{position:absolute;top:8px;right:15px;padding:0 15px;line-height:27px;background-color:#9bce26;border-radius:5px;color:#fff;font-family:Noto Sans KR;font-size:13px;}
.midCateArea.type3{margin:0 0 0 0;}
.midCateArea.type3 .prdSoting{width:50%;border-left:1px solid #e6e6e6;font-size:13px;color:#666;}
.midCateArea.type3 .listSel{width:25%;}
.midCateArea.type3 .listSel button{width:50%;}
.midCateArea.type3 .mButtonSearch{width:20%;font-size:13px;}
.midCateArea.type3 .search_results{float:left;width:25%;padding-left:15px;line-height:46px;font-size:13px;}
.midCateArea.type3:after{content:'';display:block;clear:both;}
.midCateArea.type3 .search_results span.data{font-family: 'montserratregular';}
.menu-mSearches .listArea.new *{font-family:'montserratlight','Noto Sans KR';}
.menu-mSearches .listArea.new .listOne li .mClickOne{height:45px;}
.menu-mSearches .listArea.new .listOne li .mClickOne .choiceds{color:#555;font-weight:normal;font-size:12px;}
.menu-mSearches .listArea.new .listOne li.open .mClickOne {background:url(/mc-static-root/image/comm/ico_arrow32x20_g_on.png) no-repeat 95% 50%;background-size:16px 10px;}
.menu-mSearches .listArea.new .listCate {padding:0;background:#f9f9fb;}
.menu-mSearches .listArea.new .listCate li .listSub:after{content:'';display:block;clear:both;}
.menu-mSearches .listArea.new .listSub{background-color:#f0f1f5;}
.menu-mSearches .listArea.new .listSub li{float:left;width:50%;padding-left:30px;background:#f0f1f5 url(/mc-static-root/image/comm/bl_lnb_angle.png) no-repeat 15px 50%;background-size:5px;border-right:1px solid #e5e5e5;}
.menu-mSearches .listArea.new .listSub li:nth-child(even){border-right:0;}
.menu-mSearches .listArea.new .listSub li:nth-child(2){border-top:0;}
.menu-mSearches .listArea.new .listSub li input[type=radio]{display:none;}
.menu-mSearches .listArea.new .listSub li label{width:100%;height:45px;padding:13px 10px 0 0;font-size:13px;color:#555;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.menu-mSearches .listArea.new .listSub li label em{font-style:normal;}
.menu-mSearches .listArea.new .listSub li input:checked+label em{color:#9bce26;font-weight:bold;}
.menu-mSearches .listArea.new .listTwo{padding:0;overflow:hidden;}
.menu-mSearches .listArea.new .listTwo li{float:left;width:50%;padding:0 15px;border-right:1px solid #e5e5e5;}
.menu-mSearches .listArea.new .listTwo li:nth-child(2n){border-right:0;}
.menu-mSearches .listArea.new .listTwo li:nth-child(2){border-top:0;}
.menu-mSearches .listArea.new .listTwo li label{padding-right:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.menu-mSearches .listArea.new .listTwo li input{display:none;}
.menu-mSearches .listArea.new .listTwo li input:checked+label em{color:#9bce26;font-weight:bold;}
.menu-mSearches .listArea.new li.one{width:100%;border-right:0;}
.menu-mSearches .listArea.new .listCate li p > button{right:0;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate > li.on {background:url(/mc-static-root/image/comm/ico_arrow21x12_g_on.png) no-repeat 100% 18px;background-size:11px 6px;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate > li{background-position:94% 18px;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate > li.on{background-position:94% 18px;color:#9bce26}
.menu-mSearches .listArea.new .listOne li:first-child .listCate li p{padding:0 15px;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate li p input[type=radio]{display:none;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate li p label{height:45px;padding:13px 10px 0 0;font-size:13px;color:#555;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate li p label em{font-style:normal;}
.menu-mSearches .listArea.new .listOne li:first-child .listCate li p input:checked+label em{color:#9bce26;font-weight:bold;}
.menu-mSearches .listArea.new .listCate li .cate{display:block;}
.menu-mSearches .listArea.new .listCate li .cate em{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.menu-mSearches .listArea.new .listCate li.on p a .cate em{color:#9bce26;} 
.menu-mSearches .listArea.new div.listTwo .input input[type="text"] {float:left;width:45%;height:35px;}
.menu-mSearches .listArea.new div.listTwo .input{padding:15px;}
.menu-mSearches .listArea.new div.listTwo .input input[type="text"]{width:35%;font-family: 'montserratregular';}
.menu-mSearches .listArea.new div.listTwo .input .des{float:left;width:5%;line-height:35px;font-size:16px;}
.menu-mSearches .listArea.new div.listTwo button{float:right;width:22% !important;margin:0;padding:0;line-height:35px;}
.menu-mSearches .listArea.new .listTwo li label, 
.menu-mSearches .listArea.new .menu-mSearches .listTwo li .mClickTwo{height:45px;}
.menu-mSearches .listArea.new .listTwo li label{padding:12px 25px 0 0;}
.searchDim{background: rgba(0,0,0,0.4);}
.today_search_area .tooltip{display:none;position:absolute;top:-22.5px;right:13px;line-height:1.5;z-index:12;}
.today_search_area .tooltip.on{display:block;}
.today_search_area .tooltip .txt{padding:0 37.5px 0 18px;font-size:12px;font-weight:bold;color:#fff;font-family:'Noto Sans KR';line-height:26.5px;border-radius:20px;background: rgba(0,0,0,0.6);}
.today_search_area .tooltip .txt:after{content:'';display:block;width:0;height:0;position:absolute;bottom:-7px;left:79px;border-right:7px solid rgba(0, 0, 0, 0.6);border-bottom:7px solid transparent;}
.today_search_area .tooltip .toolClose{position:absolute;top:7.5px;right:15px;width:11px;height:11px;background:url(/mc-static-root/image/comm/ico_close30x30.png) no-repeat 0 0;background-size:11px;}

/* 메인 큐레이션 서비스 */
.curation_list li .icon{height:auto;padding-top:6px;}
.curation_list li .icon span{width:36px;height:18px;line-height:18px !important;}
.curation_list li .icon .plus,
.curation_list li .icon .coupon,
.curation_list li .icon .gift,
.curation_list li .icon .sale,
.curation_list li .icon .delivery{font-size:11px;}
.curation_list li .icon .delivery{width:55px;}
.curation_area .curation_list li > .item .icon .sale{height:18px;font-size:11px;color:#fff;text-decoration:none;}

/* 상품평 개편 */
.clrfix:after{content:'';display:block;clear:both;}

.scview::-webkit-scrollbar{width:3px;}
.scview::-webkit-scrollbar-thumb{background-color:#bfbfbf;border-radius:3px;}

.btnGeenH28.dis{border:1px solid #cdcdcd;background-color:#cdcdcd;color:#ececec;margin-left:5px;}
button.w100{width:100px;}

/* 오프라인 리뷰 메인 유틸바 팝업 */
.main_toast{position: absolute;bottom:55px;left: -5vw;background:rgba(0,0,0,0.8);padding: 16px 12px;border-radius:10px;z-index:11;width: 166px;}
.main_toast:after{position:absolute;top:auto;bottom:-5px;left: 13vw;display:block;width: 12px;height:6px;background-image:url(/mc-static-root/image/comm/arrow_util_toast.png);background-repeat:no-repeat;background-position: left center;background-size:100% auto;content:"";clear:both;} 
.main_toast .toast_con{position:relative;font-size:13px;color:#ffffff;line-height:18px;text-align: left;}
.main_toast .toast_con::before{display:block;float:left;width: 33px;height: 33px;background:url(/mc-static-root/image/comm/icon_main_rv.png) no-repeat center center;background-color:#00c4b5;background-size:16px auto;border-radius:50%;content:"";clear:both;margin: 0 6px 0 0;} 
.main_toast .toast_con span{text-align: left;}
.main_toast .toast_con em{font-size:14px;font-weight:600;line-height:21px;letter-spacing:-0.5px;font-style:normal;}
.footerTab .main_toast.on{visibility:hidden;opacity:0;transition:visibility 0.3s, opacity 0.5s ease-in-out;}
.footerTab.on .main_toast.on{visibility:visible;opacity:1;}

@media screen and (min-width:760px) {
	.main_toast{position:relative;margin:-73px auto 0;left:auto;}
	.main_toast:after{left:0;width:100%;background-position: center center;background-size:13px auto;content:"";clear:both;}
}
@media screen and (min-width:610px) and (max-width:759px) {
	.main_toast{left:-1vw;}
	.main_toast:after{left:10vw}
}
@media screen and (max-width:360px) {
	.main_toast{left:-10vw;padding:8px 6px;width:158px;}
	.main_toast:after{left:17.333vw;}
}

/* irs 초기화 */
.irs{position: relative;display: block;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.irs-line{position: relative;display: block;overflow: hidden;outline: none !important;}
.irs-bar{position: absolute;display: block;left: 0;width: 0;}
.irs-handle{position: absolute;display: block;box-sizing: border-box;cursor: default;z-index: 1;}
.irs-handle.type_last{z-index: 2;}
.irs-min,.irs-max{position: absolute;display: block;cursor: default;top:0;}
.irs-min{left: 0;}
.irs-max{right: 0;}
.irs-from,.irs-to,.irs-single{  position: absolute;display: block;top: 0;left: 0;cursor: default;white-space: nowrap;}
.irs-grid{position: absolute;display: none;bottom: 0;left: 0;width: 100%;height: 20px;}
.irs-with-grid .irs-grid{display: block;}
.irs-grid-pol{position: absolute;top: 0;left: 0;width: 1px;height: 8px;background: #000;}
.irs-grid-pol.small{height: 4px;}
.irs-hidden-input{position: absolute !important;display: block !important;top: 0 !important;left: 0 !important;width: 0 !important;height: 0 !important;font-size: 0 !important;line-height: 0 !important;padding: 0 !important;margin: 0 !important;overflow: hidden;outline: none !important;z-index: -9999 !important;background: none !important;border-style: solid !important;border-color: transparent !important;}
