@charset 'utf-8';

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap);
@import url(//fonts.googleapis.com/css?family=Noto+Sans+KR);

@font-face {
	font-family: 'montserratlight'; 
	src: url(/mc-static-root/fonts/montserrat-light-webfont.eot);
	src: url(/mc-static-root/fonts/montserrat-light-webfont.eot?#iefix) format('embedded-opentype'),
	url(/mc-static-root/fonts/montserrat-light-webfont.woff) format('woff'),
	url(/mc-static-root/fonts/Montserrat-Light.ttf)  format('truetype'),
	url(/mc-static-root/fonts/montserrat-light-webfont.svg#svgFontName) format('svg');
}
@font-face {font-family: 'montserratregular'; src: url(/mc-static-root/fonts/Montserrat-Regular.ttf)  format('truetype');}
@font-face {font-family: 'Dovemayo-Medium'; src: url('/mc-static-root/fonts/dovemayo/Dovemayo-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {width:100%;height:100%;}
body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre, address,
ul, ol, li, dl, dt, dd, form, fieldset, input, select, label, textarea, img, a {margin:0; padding:0; border:0;}
body {background-color:#eee;color:#666;-webkit-text-size-adjust:none;}
ul, ol {list-style:none;}
table {border-spacing:0; border:0; border-collapse:collapse;}
img, input, select, textarea, button {border:0; vertical-align:top; color:#666;}
hr {display:none;}
a {color:#666; text-decoration:none;}
button:focus,
a:focus {border:2px solid #a5c7fe;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	a:focus {border:0;}
}
textarea {resize:none;}
* {box-sizing:border-box;letter-spacing:-1px;word-spacing:-0.5px;font-family: 'AppleSDGothicNeo', 'Roboto', 'montserratlight', sans-serif;}/* montserratlight & Montserrat */
html {overflow-x:hidden;}
img {width:100%;font-size:0;line-height:0;text-indent:-9999px;}
.img.new img {width:auto;height:220px;}
label, input.button, input.submit , input.image, button {cursor:pointer;}
legend, #skip_navi {position:absolute; overflow:hidden; visibility:hidden; width:0; height:0; z-index:-1;}
caption {width:0;height:0;text-indent:-9999px;}
.mShow {display:block !important;}
.mHide {display:none !important;}
.scroll-none {overflow:hidden !important;}
.ftml{font-family: 'montserratlight';}
.ftmr{font-family: 'montserratregular';}
/* skip navigation */
#skip_navi {overflow:visible;visibility:visible;position:fixed;top:0;left:0;width:100%;z-index:100}
#skip_navi a {display:block;width:100%;height:0;background:#969937;font-size:0;line-height:0;text-align:center;color:#fff;font-weight:700}
#skip_navi a:focus {height:40px;font-size:16px;line-height:40px;}

.hidden{display:none}

/* 앱다운로드 유도배너 */
.header_banner {position:relative;width:100%;padding-right:48px;background-color:#676b7e;text-align:center}
.header_banner .hd_banner_cont {display:inline-block;height:48px;padding-left:42px;background:url(/mc-static-root/image/comm/ico_app.png) no-repeat left center;background-size:auto 32px;font-size:15px;color:#FFF;font-weight:700;vertical-align:middle;line-height:48px;}
.header_banner .hd_banner_close {position:absolute;top:0;right:0;width:48px;height:100%;background:#5e6174 url(/mc-static-root/image/comm/ico_close_24x24.png) no-repeat center;background-size:12px;font-size:0;}
.header_banner .hd_banner_cont .point {display:inline-block;color:#ffffac}

#mHeader {border-bottom:1px solid #e6e6e6;-webkit-transform:translateZ(0);}
#titConts {position:relative;width:100%;height:48px;padding:8px 0 0;border-bottom:1px solid #e6e6e6;background:#fff;z-index:10;}
#titConts h2 {color:#000;font-size:18px;text-align:center;line-height:28px;font-weight:bold !important;}
#titConts button {position:absolute;top:14px;left:20px;width:20px;height:20px;background:#fff url(/mc-static-root/image/comm/btn_back.png) no-repeat 0 0;background-size:20px 20px;font-size:0;text-indent:-99999px;line-height:0;}
#titConts .cnt {font-weight:bold;font-size:18px;line-height:20px;color:#f27370;letter-spacing:0px;}
#titConts.titFix.on{position:fixed;top:0;left:0;}
#titConts.titFix.on+#mContents{padding-top:48px;}

#titConts2 {position:relative;width:100%;height:48px;padding:8px 0 0;border-bottom:1px solid #e6e6e6;background:#fff;z-index:10;}
#titConts2 h2 {color:#000;font-size:18px;text-align:center;line-height:28px;font-weight:bold !important;}
#titConts2 button {position:absolute;top:14px;left:20px;width:20px;height:20px;background:#fff url(/mc-static-root/image/comm/btn_back.png) no-repeat 0 0;background-size:20px 20px;font-size:0;text-indent:-99999px;line-height:0;}
#titConts2 .cnt {font-weight:bold;font-size:18px;line-height:20px;color:#f27370;letter-spacing:0px;}

#mWrapper {width:100%;height:100%;}
#mContainer {}
#mContents {background-color:#eee;}
#mSearchWrapper {width:100%;min-height:100%;background:#fff}
#mHeader {z-index:11;width:100%;background:#fff;}
#mHgroup {z-index:2;position:relative;overflow:hidden;width:100%;/*height:97px;*/}
#mHeader.mHome #mHgroup{background-color:#fff;}
#mHgroup h1 .logo {display:block;width:155px;height:30px;margin:17px auto 0;background:url(/mc-static-root/image/comm/title_logo.png) no-repeat center 0;background-size:155px 27px;font-size:0;text-indent:-99999px;line-height:0;overflow:hidden;z-index:1;position:relative;}
#mHgroup .mAllmenu {display:inline-block;position:absolute;top:21px;left:20px;width:28px;height:22px;z-index:5;}
#mHgroup .mAllmenu button {width:28px;height:22px;font-size:0;text-indent:-99999px;line-height:0;}
#mHgroup .mAllmenu .allmenuOpen {background:url(/mc-static-root/image/comm/btn_allmenu.png) no-repeat 0 0;background-size:28px auto;}
#mHgroup .mAllmenu .allmenuOpen:focus {border:1px solid #a5c7fe;}
.allmenuClose {position:absolute;top:10px;right:-32px;width:26px;height:26px;background:url(/mc-static-root/image/comm/btn_close_allmenu.png) no-repeat 0 0;background-size:26px auto;font-size:0;line-height:0;text-indent:-9999px;} 
#mHgroup .mBasket {display:inline-block;position:absolute;top:14px;right:20px;width:29px;height:24px;z-index:5;}
#mHgroup .mBasket .basket {width:24px;height:28px;background:url(/mc-static-root/image/comm/ico_basket.png) no-repeat 0 0;background-size:24px auto;text-indent:-99999px;}
#mHgroup .mBasket .basket:focus {border:1px solid #a5c7fe;}
#mHgroup .basket .cnt {display:block;overflow:hidden;position:absolute;top:0;right:-8px;width:18px;height:18px;border-radius:9px;font-size:11px;line-height:18px;color:#fff;text-align:center;background-color:#ff0000;z-index:2;text-indent:0;letter-spacing:-0.2px;font-family:'montserratregular';}
#mHgroup .mAllSearch {position:relative;display:block;height:35px;margin:13px 15px 0;padding:0 15px;border-radius:17.5px;background:#f5f5f5;}
#mHgroup .mAllSearch > a {display:block;overflow:hidden;padding-right:52px;height:35px;line-height:35px;font-size:14px;color:#999;white-space:nowrap;text-overflow:ellipsis;}
#mHgroup .mAllSearch > button {position:absolute;top:0;text-indent:-9999px;}
#mHgroup .mAllSearch button.m_btn_sch {right:0;width:49px;height:35px;background:url(/mc-static-root/image/comm/ico_search3.png) no-repeat 50% 50%;background-size:19px auto;}
#mHgroup .mAllSearch button.m_btn_barcode {display:none}
#mHgroup .mAllSearch.app > a {padding-right:70px;}
#mHgroup .mAllSearch.app button.m_btn_sch {right:47px;width:35px;}
#mHgroup .mAllSearch.app button.m_btn_barcode {display:block;right:5px;width:43px;height:35px;background:url(/mc-static-root/image/comm/ico_barcode.png) no-repeat 50% 50%;background-size:auto 24px;}
#mHgroup .mAllSearch.app button.m_btn_barcode::before {content:'';display:inline-block;position:absolute;top:6px;left:0;background-color:#ddd;width:1px;height:24px;}

body#searchResult #mHeader {height:115px;padding-bottom:0;}
body#searchResult #mHgroup .mAllSearch {display:none;}
/*
body#searchResult #mHeader {position:absolute;top:0;height:57px;padding-bottom:0;border-bottom:0;}
body#searchResult #mHgroup .mAllSearch {display:none;}
*/
body#searchResult #mHgroup {height:110px;}
body#searchResult #mContainer #fixedSearch {}
body#searchResult #mContainer #fixedSearch .mAllSearch {display:block;position:relative;height:35px;margin:15px 15px 0;padding:0 15px;border-radius:17.5px;background:#f5f5f5;}
body#searchResult #mContainer #fixedSearch .mAllSearch > a {display:block;overflow:hidden;padding-right:52px;height:35px;line-height:35px;font-size:14px;color:#999;white-space:nowrap;text-overflow:ellipsis;}
body#searchResult #mContainer #fixedSearch .mAllSearch > button {position:absolute;top:0;right:0;width:49px;height:35px;background:url(/mc-static-root/image/comm/ico_search3.png) no-repeat 50% 50%;background-size:19px 18px;text-indent:-9999px;}




body#searchResult #mContents {margin-top:10px !important;}
body#searchResult #mcSearches {padding:0;}
body#searchResult #fixedSearch {z-index:12;display:block;position:absolute;top:50px !important;height:65px;width:100%;background:#fff;overflow:hidden;}
body#searchResult #fixedSearch #mSubGnb:before {display:none;}
body#searchResult #fixedSearch #mSubGnb {height:auto !important;margin-top:12px;border-bottom:0;border-top:0;}
body#searchResult #fixedSearch.fixArea #mSubGnb {margin-top:0;}
body#searchResult #fixedSearch #mSubGnb .search {width:auto;margin:0 15px 0;}
body#searchResult #fixedSearch.fixArea {position:fixed !important;top:0 !important;left:0;width:100%;height:53px;padding-top:12px;border-bottom:1px solid #e5e5e5;box-sizing:content-box;}

/*
body#searchResult  #fixedSearch {display:block;position:absolute;top:45px;height:65px;width:100%;background:#fff;border-bottom:1px solid #e5e5e5;}
body#searchResult  #fixedSearch #mSubGnb:before {display:none;}
body#searchResult  #fixedSearch #mSubGnb {}
body#searchResult  #fixedSearch #mSubGnb {height:auto !important;border-bottom:0;}
body#searchResult  #fixedSearch #mSubGnb .search {width:auto;margin:12px 15px 0;}
body#searchResult  #fixedSearch.fixArea {position:fixed !important;top:0;left:0;z-index:10;width:100%;}
*/

 

#mHgroup .mSearch {position:absolute;top:18px;right:65px;display:block;}
#mHgroup .mSearch button {width:24px;height:24px;background:url(/mc-static-root/image/comm/m_search.png) no-repeat 0 0;background-size:24px auto;font-size:0;line-height:0;}
#mHeader.ixHead {position:fixed;width:100%;height:142px;border:0;transform:translate(0, 0);-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transition:transform 0.001s ease-in-out;-webkit-transition:transform 0.001s ease-in-out;-ms-transition:transform 0.001s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:15;}
#mHeader.ixHead.mHome {background:rgba(255,255,255,0);}
#mHeader.ixHead.mHome .mAllSearch {background:#f5f5f5}
#mHeader.ixHead.mHome.change_top .mAllSearch {background:#f5f5f5}
#mHeader.subHead {background:#fff;padding-bottom:15px;}
#mHeader.subHead.detail {height:60px}
#mHeader.ixHead.scroll_down {transform:translate(0, -95px);-webkit-transform:translate(0,-95px);-ms-transform:translate(0,-95px);border-bottom:1px solid #e6e6e6;}
#mHeader.ixHead.scroll_down2 {transform:translate(0, -143px);-webkit-transform:translate(0,-143px);-ms-transform:translate(0,-143px);border-bottom:1px solid #e6e6e6;}
#mHeader.ixHead.change_top {background:#fff;border-bottom:1px solid #e6e6e6;}
#mHeader.ixHead.change_top #mGnb,
#mHeader.ixHead.scroll_down #mGnb,
#mHeader.ixHead.scroll_down2 #mGnb {/*border-bottom:1px solid #e6e6e6;*/background:#fff;}
#mContents.bgWhite {background-color:#fff}
#mSubGnb.fixed_area {position:fixed;top:0;left:0}
#mSubBanner+ #mSubGnb:before {display:none;}
#mHeader.ixHead~#mContainer #mFixTab {padding-top:3px;background:#fff}
/* 2017-03-21
#mContainer>#mContents:before {display:block;content:"";width:100%;height:3px;background-color:#fff;}
*/ 
#mFixTab+#mContents:before,
#titConts+#mContents:before,
#mHeader.subHead~ form>#mContainer>#mContents:before,
#mHeader.subHead~ #mContainer>#mContents:before,
#mHeader.subHead~ form~ #mContainer>#mContents:before,
#mHeader.mHome~ #mContainer>#mContents:before,
#mContainer #mSubGnb+#mContents:before {display:none;}
.fixArea {position:fixed !important;top:0;left:0;z-index:10;width:100%;}
#mLoading {position:fixed;z-index:100;}
.loading_ico {display:inline-block;position:fixed;top:50%;left:50%;margin:-50px 0 0 -50px;width:100px;height:100px;text-indent:-9999px;z-index:14;background:url(/mc-static-root/image/comm/loading.gif) no-repeat 0 0;background-size:100% 100%;}
.dim, .dims {display:none;position: fixed;top: 0;right: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.8);content: '';opacity: 1;z-index:13;cursor:pointer;}
.allmenu {display:none;position: fixed;top: 0;left: -100%;background-color:#fff;z-index: 100;width:100%;height: 100%;}
.allmenu *{font-family:'Montserrat', -apple-system, 'Noto Sans KR';}
.allmenu.show {display:block;}
#mLnb {overflow-y:scroll;width:100%;height:100%;background-color:#f5f5f5;-webkit-overflow-scrolling: touch;}
#mLnb .intro {overflow:hidden;position: -webkit-sticky;position: sticky;z-index:2;width:100%;height:50px;top:0;left:0;padding:0 0 0 20px;background:url(/mc-static-root/image/comm/lnb_intro.png) repeat-x 0 0;background-size:50% 50px;}
#mLnb .intro .rank {float:left;padding:16px 5px 0 0;font-weight:bold;font-size:13px;line-height:18px;}
#mLnb .intro .rank.gold {color:#c9af64;}
#mLnb .intro .rank.black{color:#fff;}
#mLnb .intro .rank.green {color:#11b761;}
#mLnb .intro .rank.baby {color:#9cd00b;}

#mLnb .intro .name {float:left;padding:11px 0 0 0;color:#fff;font-weight:bold;font-size:20px;line-height:26px;}
#mLnb .intro .name .ellipsis{display:inline-block;overflow:hidden;max-width:83px;text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;vertical-align: top;}
#mLnb .intro .name em {font-style:normal;font-size:15px;}
#mLnb .intro .setup {position:absolute;top:12px;right:108px;width:26px;height:26px;background:url(/mc-static-root/image/comm/ico_setup51x51.png) no-repeat 0 0;background-size:100% 100%;font-size:0;text-indent:-99999px;line-height:0;}
#mLnb .intro .notice {display:inline-block;position:relative;position:absolute;top:12px;right:64px;width:26px;height:26px;background:url(/mc-static-root/image/comm/ico_notice.png) no-repeat 0 0;background-size:100% 100%;font-size:0;text-indent:-99999px;line-height:0;}
#mLnb .intro .notice.new em {display:inline-block;position:absolute;top:-8px;right:0;width:15px;height:15px;padding:0 2px 0 0;border-radius:20px;background:#ff0000;color:#fff;font-style:normal;font-weight:normal;font-size:9px;text-indent:0;text-align:center;line-height:15px;}
#mLnb .intro .linkLogin {float:left;width:90px;height:30px;border:1px solid #b4b4b4;border-radius:30px;margin-top:10px;font-weight:bold;font-size:13px;line-height:28px;color:#b4b4b4;text-align:center;}
#mLnb .intro .allmenuClose{position:absolute;top:12px;right:20px;}
#mLnb .shortcuts {overflow:hidden;width:100%;background-color:#fff;}
#mLnb .shortcuts li {float:left;width:50%;}
#mLnb .shortcuts li:nth-child(1) {border-bottom:1px solid #efefef;}
#mLnb .shortcuts li:nth-child(2) {border-left:1px solid #efefef;border-bottom:1px solid #efefef;}
#mLnb .shortcuts li:nth-child(3) {border-bottom:1px solid #efefef;}
#mLnb .shortcuts li:nth-child(4) {border-left:1px solid #efefef;border-bottom:1px solid #efefef;}
#mLnb .shortcuts li a,
#mLnb .shortcuts li button {display:block;width:100%;height:60px;padding-left:52px;padding-top:18px;color:#000;font-size:16px;font-weight:bold;line-height:22px;letter-spacing:-0.2px;}
#mLnb .shortcuts li button {padding-top:0;text-align:left;}
#mLnb .shortcuts .mypage {background:url(/mc-static-root/image/comm/lnb_mypage.png) no-repeat 16px 50%;background-size:26px auto;}
#mLnb .shortcuts .order {background:url(/mc-static-root/image/comm/lnb_order.png) no-repeat 16px 50%;background-size:32px auto;}
#mLnb .shortcuts .burial {background:url(/mc-static-root/image/comm/lnb_burial.png) no-repeat 20px 50%;background-size:19px auto;}
#mLnb .shortcuts .customer {background:url(/mc-static-root/image/comm/lnb_customer.png) no-repeat 19px 50%;background-size:25px auto;}

#mLnb .shortcuts button {float:left;width:50%;height:60px;padding-left:52px;text-align:left;color:#000;font-size:16px;font-weight:bold;line-height:22px;letter-spacing:-0.2px;}
#mLnb .shortcuts button:nth-child(1) {border-bottom:1px solid #efefef;}
#mLnb .shortcuts button:nth-child(2) {border-left:1px solid #efefef;border-bottom:1px solid #efefef;}
#mLnb .shortcuts button:nth-child(3) {border-bottom:1px solid #efefef;}
#mLnb .shortcuts button:nth-child(4) {border-left:1px solid #efefef;border-bottom:1px solid #efefef;}

#mLnb .notice-list {width:100%;margin:10px 0 0;border-top:1px solid#e5e5e5;border-bottom:1px solid#e5e5e5;}
#mLnb .notice-list a {display:block;position:relative;overflow:hidden;width:100%;min-height:86px;background:#fff url(/mc-static-root/image/comm/ico_lnb_notice.png) no-repeat 96% 50%;background-size:21px 21px;font-size:0;line-height:0;vertical-align:top;}
#mLnb .notice-list a span {display:block;vertical-align:top;}
#mLnb .notice-list a .image {overflow:hidden;position:absolute;top:0;left:0;width:109px;height:86px;background:url(/mc-static-root/image/comm/burial_no_image.png) no-repeat 0 0;background-size:109px auto;}
#mLnb .notice-list a .txtus {padding:0 10px 0 120px;min-height:86px;vertical-align:middle;}
#mLnb .notice-list a .txtus .tit,
#mLnb .notice-list a .txtus .txt,
#mLnb .notice-list a .txtus .time {overflow:hidden;}
#mLnb .notice-list a .txtus .tit {display:inline-block;max-width:100%;padding:0 6px;max-height:40px;background:#575251;}
#mLnb .notice-list a .txtus .tit span {overflow:hidden;-webkit-box-orient:vertical;display:inline-block !important;width:100%;color:#fff;font-size:12px;font-weight:bold;line-height:20px;text-overflow:ellipsis;white-space:nowrap;}
#mLnb .notice-list a .txtus .box {display:table-cell;vertical-align:middle;height:66px;}
#mLnb .notice-list a .txtus .txt {overflow:hidden;display:-webkit-box;padding-right:45px;color:#777;font-size:13px;min-height:32px;font-weight:bold;line-height:16px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
#mLnb .notice-list a .txtus .time {color:#888;font-size:11px;line-height:16px;letter-spacing:0;}
#mLnb .notice-list .notice-type {background-color:#fff;min-height:90px;padding-top:10px;text-align:center;}
#mLnb .notice-list .notice-type p {font-size:12px;line-height:17px;color:#333;}
#mLnb .notice-list .notice-type .btnGrayH28 {margin-top:7px;width:125px;padding:0 10px;}
#mLnb .notice-area {overflow:hidden;width:100%;}
#mLnb .notice-area a {display:block;overflow:hidden;position:relative;padding:12px 12px 12px 15px;background:#f5f5f5;color:#777;font-weight:bold;font-size:13px;line-height:18px;vertical-align:top;text-overflow:ellipsis;}
#mLnb .notice-area a .tit {padding-right:10px;position:absolute;top:12px;left:15px;background:url(/mc-static-root/image/comm/bar3x23.gif) no-repeat right center;background-size:2px 11px;}
#mLnb .notice-area a .txt {display:block;overflow:hidden;max-height:32px;padding:0 0 0 62px;font-weight:normal;line-height:16px;text-overflow:ellipsis;white-space:nowrap;}
#mTab.lnbTab {overflow:hidden;border-top:1px solid #e5e5e5;background:#fff url(/mc-static-root/image/comm/bar2x6.gif) repeat-x 0 100%;background-size:2px 3px;}
#mTab.lnbTab li {float:left;width:33.5%;font-size:0;line-height:0;}
#mTab.lnbTab li:first-child {width:33%;}
#mTab.lnbTab li.on {border-bottom:3px solid #9bce26;}
#mTab.lnbTab li button {width:100%;height:60px;background:transparent url(/mc-static-root/image/comm/bar2x100.gif) no-repeat 0 50%;background-size:1px 50px;color:#010101;font-size:16px;line-height:22px;}
#mTab.lnbTab li:first-child button {background:transparent;}
#mTab.lnbTab li.on button {color:#000;font-weight:bold;}
#mTab.lnbTab li button.new:after{display:inline-block;content: "";margin: -3px 0 0px 4px;width:14px;height:14px;background:url(/mc-static-root/image/comm/ico_new03.png) no-repeat 0 0;background-size:100%;vertical-align:top;}

.lnbSmenu {margin-top:10px;}
#mLnb .notice-area ~ .lnbSmenu {margin-top:0;}
/* 
2018-04-09 전시카테고리 개편으로 삭제
.lnbSmenu .tab_contents {display:none;}
.lnbSmenu .tab_contents.on {display:block;}
.lnbSmenu .tab_contents h2 {height:50px;padding:16px 0 0 30px;background-color:#fff;color:#000;font-size:15px;line-height:20px;}
.lnbSmenu .tab_contents h2.new:after{display:inline-block;content: "N";margin: -3px 0 0px 4px;width: 15px;height: 15px;border-radius: 7.5px;line-height: 15px;font-size: 9px;color: #ff0000;text-indent: -1px;vertical-align: top;}
.lnbSmenu .tab_contents ul {overflow:hidden;width:100%;border-bottom:2px solid #efefef;background:#fafafa url(/mc-static-root/image/comm/bar4x2.gif) repeat-x 0 0;background-size:1px 1px;}
.lnbSmenu .tab_contents ul li {padding:0 20px 0 50px;font-size:0;line-height:0;}
.lnbSmenu .tab_contents ul li:first-child {margin:-1px 0 0;background:url(/mc-static-root/image/comm/ico_lnb_arrow.gif) no-repeat 28px 0;background-size:11px 7px;}
.lnbSmenu .tab_contents ul li a {display:block;height:50px;padding:15px 0 0;background:url(/mc-static-root/image/comm/ico_lnb_link.gif) no-repeat 100% 50%;background-size:7px 11px;border-top:1px solid #eaeaea;color:#555;font-size:14px;font-weight:bold;line-height:20px;vertical-align:top;}
.lnbSmenu .tab_contents ul li:first-child a {border-top:0;}
*/ 
/* 2018-04-09 전시카테고리개편 - 신예진추가 */
#mLnb .subLink{background-color:#fff;margin-bottom:5px;}
#mLnb .subLink .mlink{position:relative;border-bottom:1px solid #e5e5e5}
#mLnb .notice-area+.subLink .mlink{border-top:1px solid #e5e5e5}
#mLnb .subLink .mlink:after {display:block;content:'';position:absolute;top:50%;right:20px;width:6px;height:10px;margin-top:-5px;background:url(/mc-static-root/image/comm/bl_arrg_12_21.png) no-repeat center;background-size:6px 10px;}
#mLnb .subLink .mlink > a{position:relative;display:block;padding-left:20px;line-height:45px;font-size:16px;font-weight:bold;font-family:'Noto Sans KR';color:#000;}
#mLnb .subLink .mlink > a.new:after{display:inline-block;content:'N';margin: -3px 0 0px 11px;width:15px;height:15px;border-radius: 7.5px;background-color:#ff0000;line-height:14px;font-size:9px;font-weight:bold;color: #fff;vertical-align: middle;text-align:center;text-indent:-1px;font-family: 'AppleSDGothicNeo', 'Roboto', 'montserratlight', sans-serif;}
#mLnb .subLink.two:after{content:'';display:block;clear:both;}
#mLnb .subLink.two .mlink{float:left;width:50%;}
#mLnb .subLink.two .mlink:first-child{border-right:1px solid #efefef;}
.lnbSmenu {border-top:1px solid #e5e5e5}
.lnbSmenu .lnb_head {padding:13px 0 14px 20px;border-bottom:2px solid #000;background-color:#fff;font-size:16px;color:#000;line-height:100%;font-family:'Noto Sans KR';}
.lnbSmenu .lnb_dep1 > li {background-color:#fff;}
.lnbSmenu .lnb_dep1 > li > a {display:block;position:relative;width:100%;height:46px;padding-left:30px;border-bottom:1px solid #e5e5e5;font-size:14px;color:#333;line-height:46px;}
.lnbSmenu .lnb_dep1 > li > a::after {display:block;content:'';position:absolute;top:50%;right:20px;width:11px;height:6px;margin-top:-3px;background:url(/mc-static-root/image/comm/bl_arrow_down_gray.png) no-repeat center;background-size:auto 6px;}
.lnbSmenu .lnb_dep1 > li:last-child > a {border-bottom-color:#ccc}
.lnbSmenu .lnb_dep2 {display:none;position:relative}
.lnbSmenu .lnb_dep2 > li {background-color:#f9f9fb;}
.lnbSmenu .lnb_dep2 > li > a {display:block;position:relative;width:100%;height:46px;padding-left:50px;border-bottom:1px solid #e5e5e5;background:url(/mc-static-root/image/comm/bl_lnb_stick.png) no-repeat 40px center;background-size:5px auto;font-size:13px;color:#555;line-height:46px;}
.lnbSmenu .lnb_dep2 > li > a::after {display:block;content:'';position:absolute;top:50%;right:20px;width:11px;height:6px;margin-top:-3px;background:url(/mc-static-root/image/comm/bl_arrow_down_gray.png) no-repeat center;background-size:auto 6px;}
.lnbSmenu .lnb_dep3 {display:none;background-color:#f0f1f5;border-bottom:1px solid #e5e5e5;}
.lnbSmenu .lnb_dep3 > li {padding-left:30px;}
.lnbSmenu .lnb_dep3 > li > a {display:block;position:relative;height:46px;padding-left:35px;border-bottom:1px solid #e5e5e5;background:url(/mc-static-root/image/comm/bl_lnb_angle.png) no-repeat 20px center;background-size:5px auto;font-size:13px;color:#555;line-height:46px;}
.lnbSmenu .lnb_dep3 > li:last-child > a {border-bottom:none}
.lnbSmenu .lnb_dep3 > li > a::after {display:block;content:'';position:absolute;top:50%;right:20px;width:6px;height:11px;margin-top:-3px;background:url(/mc-static-root/image/comm/bl_arrow_sideR.png) no-repeat center;background-size:6px auto;}

.lnbSmenu .lnb_dep1 > li.on > a {color:#9bce26;font-weight:700}
.lnbSmenu .lnb_dep1 > li.on > a::after {background-image:url(/mc-static-root/image/comm/bl_arrow_up_yg.png);}
.lnbSmenu .lnb_dep2 > li.on > a {font-weight:700}
.lnbSmenu .lnb_dep2 > li.on > a::after {background-image:url(/mc-static-root/image/comm/bl_arrow_up_gray.png);}
.lnbSmenu .lnb_dep1 > li.on .lnb_dep2 {display:block;}
.lnbSmenu .lnb_dep1 > li.on .lnb_dep2::before {display:block;content:'';position:absolute;left:28px;top:-1px;width:10px;height:6px;background:url(/mc-static-root/image/comm/lnb_cate_line_on.gif) no-repeat center;background-size:10px 6px}
.lnbSmenu .lnb_dep2 > li.on .lnb_dep3 {display:block}

.lnbSmenu .lnb_dep1 li a span.new:after{display:inline-block;content: "N";margin: -3px 0 0px 10px;width: 15px;height: 15px;border-radius: 7.5px;background-color:#ff0000;line-height:14px;font-size: 9px;font-weight:bold;color: #fff;text-indent:-1px;vertical-align: middle;text-align:center}
.lnbSmenu .lnb_dep1 li.on a span.new:after {font-weight:normal}

.lnb-jeonmungwan {overflow:hidden;width:100%;background-color:#fff;}
.lnb-jeonmungwan h2 {padding:25px 0 8px;color:#000;font-size:16px;text-align:center;line-height:22px;}
.lnb-jeonmungwan ul {overflow:hidden;width:100%;border-top:2px solid #000;}
.lnb-jeonmungwan ul li {display:table;float:left;width:100%;font-size:0;line-height:0;border-bottom:1px solid #e5e5e5;}
.lnb-jeonmungwan ul li a:first-child {border-left:0;}
.lnb-jeonmungwan ul li a {display:block;display:table-cell;width:50%;border-left:1px solid #e5e5e5;position:relative;text-align:center;padding:10px;color:#000;font-size:15px;line-height:22px;vertical-align:middle;}
.late-conts {overflow:hidden;position:relative;width:100%;padding:30px 0 18px;background:#fff;}
.late-conts h2 {padding:0 0 8px 20px;color:#000;font-size:16px;line-height:22px;}
.late-conts .btnMore {position:absolute;top:32px;right:10px;padding:0 9px 0 0;background:url(/mc-static-root/image/comm/ico_arrow8x10.png) no-repeat 100% 50%;background-size:4px 5px;color:#888;font-size:11px;line-height:15px;white-space:nowrap;}
.late-conts ul {overflow:hidden;padding:0;}
#mGnb {width:100%;height:45px;padding:5px 0 0;background-color:#fff;}
#mGnb .gnb_cate {display:-webkit-box;display:-moz-box;display:-ms-flexbox;height:40px;width:100%;}
#mGnb .gnb_cate > li {position:relative;z-index:2 !important;}
#mGnb .gnb_cate > li:first-child a {padding-left:20px;}
#mGnb .gnb_cate > li > a {display:block;padding:0 13px;color:#000;font-size:15px;text-align:center}
#mGnb .gnb_cate > li > a > span {display:inline-block;height:40px;line-height:37px}
#mGnb .gnb_cate > li > a > span.new {position:relative;}
#mGnb .gnb_cate > li > a > span.new:after {display:block;content:"";position:absolute;right:-11px;top:11px;width:8px;height:8px;background:url(/mc-static-root/image/comm/ico_new02.png) no-repeat 0 0;background-size:100%;}
#mGnb .gnb_cate > li.on > a {font-weight:bold;color:#a4d233;font-size:18px}
#mGnb .gnb_cate > li.on > a > span {position:relative;line-height:36px;}
#mGnb .gnb_cate > li.on > a > span:before {display:block;content:"";position:absolute;bottom:0;left:0;width:100%;height:3px;font-size:9px;border-radius:1.5px;background-color:#a4d233;}
.mHome #mGnb .gnb_cate > li.on > a > span:before{bottom:2px;}
/* 메인BI개편 */
#mGnb{padding:5px 7px;}
#mGnb .gnb_cate > li{width:19%;}
#mGnb .gnb_cate > li:nth-child(1){width:13%;}
#mGnb .gnb_cate > li:nth-child(2),
#mGnb .gnb_cate > li:nth-child(3){width:15%;}
#mGnb .gnb_cate > li:first-child a{padding:0;}
#mGnb .gnb_cate > li > a{padding:0;}

#mContainer.mMain {padding:140px 0 0;background:#fff}
/* 당일 배송 */
#mContainer.dMain {padding:142px 0 0;background:#fff}
.swiper-container {position:relative;overflow:hidden;z-index:1;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform}
.swiper-wrapper{position:relative;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform;-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out}
#mFooter {padding-top:30px;background-color:#fff;}
#mFooter .footer {position:relative;padding:0 0 20px;border-top:1px solid #9bce26;background:#f2f2f2;}
#mFooter .mTitle1v {position:absolute;top:50px;left:0;width:100%;color:#333;font-size:12px;text-align:center;line-height:19px;}
#mFooter .mTitle2v {margin:25px 15px 0;border-top:1px solid #e5e5e5;font-size:0;text-align:center;line-height:0;}
#mFooter .mTitle2v span {display:inline-block;margin:-10px 0 0;padding:0 10px;background:#f2f2f2;color:#333;font-size:12px;line-height:19px;white-space:nowrap;}
#mFooter .mTitle3v {margin:11px 15px 0;padding:14px 0 0;border-top:1px solid #e5e5e5;color:#888;font-size:11px;text-align:center;line-height:19px;}
#mFooter .mTitle3v span {letter-spacing:0;}
#mFooter .mlist1v-menu, #mFooter .mlist2v-menu, #mFooter .mlist3v-menu, #mFooter .mlist4v-menu, #mFooter .mlist-sns {overflow:hidden;width:100%;}
#mFooter .mlist1v-menu li, #mFooter .mlist2v-menu li, #mFooter .mlist3v-menu li, #mFooter .mlist4v-menu li, #mFooter .mlist-sns li {font-size:0;line-height:0;}
#mFooter .mlist1v-menu li a, #mFooter .mlist2v-menu li a, #mFooter .mlist3v-menu li a, #mFooter .mlist4v-menu li a, #mFooter .mlist-sns li a {display:block;}
#mFooter .mlist1v-menu {background:#eaeaea;}
#mFooter .mlist1v-menu li {float:left;width:33%;}
#mFooter .mlist1v-menu li:nth-child(2) {width:34%;}
#mFooter .mlist1v-menu li:nth-child(2) span {letter-spacing:1px;}
#mFooter .mlist1v-menu li a {height:40px;padding:10px 0 0;color:#888;font-family: 'montserratlight'; font-weight:bold;font-size:12px;text-align:center;line-height:19px;letter-spacing:-0.04em;}
#mFooter .mlist1v-menu.app li,
#mFooter .mlist1v-menu.app li:nth-child(2) {width:50%;}
#mFooter .mlist2v-menu {text-align:center;}
#mFooter .mlist2v-menu li {display:inline-block;}
#mFooter .mlist2v-menu li span {display:inline-block;padding:0 11px 0 6px;word-break:normal;background:url(/mc-static-root/image/comm/bar2x2.gif) no-repeat 100% 50%;background-size:2px 2px;}
#mFooter .mlist2v-menu li:last-child span {background:none}
#mFooter .mlist2v-menu li a {color:#888;font-size:11px;line-height:19px;white-space:nowrap;}
#mFooter .customerInfo {padding:9px 20px 0;}
#mFooter .customerInfo .box {overflow:hidden;margin:0 auto;width:100%;margin-top:5px;}
#mFooter .customerInfo .box:first-child {margin-top:0;}
#mFooter .customerInfo .box h3 {float:left;width:26%;font-size:11px;line-height:30px;color:#888;}
#mFooter .mlist3v-menu {float:left;width:74%;}
#mFooter .mlist3v-menu li {display:block;float:left;}
#mFooter .mlist3v-menu li.phone {width:40%;}
#mFooter .mlist3v-menu li.mail {width:57%;margin-left:5px;}
#mFooter .mlist3v-menu li a {overflow:hidden;width:100%;height:28px;border:1px solid #e5e5e5;color:#888;font-size:12px;text-overflow:ellipsis;white-space:nowrap;line-height:19px;font-family:'montserratregular';letter-spacing:-0.04em;}
#mFooter .mlist3v-menu li.phone a {padding:4px 0 0 30px;background:#fff url(/mc-static-root/image/comm/ico_phone.png) no-repeat 12px 50%;background-size:12px 19px;}
#mFooter .mlist3v-menu li.mail a {padding:4px 5px 0 40px;background:#fff url(/mc-static-root/image/comm/ico_mail.png) no-repeat 12px 50%;background-size:22px 15px;font-size:11px;}
#mFooter .mlist3v-menu li.mail.inquiry a {padding:4px 5px 0 40px;background:#fff url(/mc-static-root/image/comm/icon_inquiry.png) no-repeat 15px 50%;background-size:12px auto;font-size:11px;letter-spacing:-0.04em;}
#mFooter .mlist3v-menu li.mail.inquiry a span {padding:0 1px;display:inline-block;line-height:16px;vertical-align:top;}
#mFooter .mlist3v-menu li.mail.inquiry a strong {display:inline-block;line-height:17px;vertical-align:top;}

#mFooter .mlist4v-menu {padding:8px 0 0;font-size:0;text-align:center;line-height:0;}
#mFooter .mlist4v-menu li {display:inline-block;}
#mFooter .mlist4v-menu li a {padding:0 7px 0 5px;background:url(/mc-static-root/image/comm/bar1x10.gif) no-repeat 0 6px;background-size:1px 10px;color:#888;font-size:11px;line-height:19px;}
#mFooter .mlist4v-menu li:nth-child(2) a {font-weight:bold;color:#333;}
#mFooter .mlist4v-menu li:first-child a {background:none;}
#mFooter .mlist-sns {padding:7px 0 0;font-size:0;text-align:center;line-height:0;}
#mFooter .mlist-sns li {display:inline-block;padding:0 5px;}
#mFooter .mlist-sns li a {width:42px;height:42px;background-size:100% 100% !important;text-indent:-99999px;}
#mFooter .mlist-sns li.facebook a {background:url(/mc-static-root/image/comm/ico_facebook.gif) no-repeat 0 0;}
#mFooter .mlist-sns li.twitter a {background:url(/mc-static-root/image/comm/ico_twitter.gif) no-repeat 0 0;}
#mFooter .mlist-sns li.kakao a {background:url(/mc-static-root/image/comm/ico_kakao.gif) no-repeat 0 0;}
#mFooter .mlist-sns li.ribyoung a {background:url(/mc-static-root/image/comm/ico_ribyoung.gif) no-repeat 0 0;}
#mFooter .mlist-sns li.instagram a {background:url(/mc-static-root/image/comm/ico_instagram.gif) no-repeat 0 0;}
#mFooter .addr {padding:35px 0 0;color:#888;font-size:11px;text-align:center;line-height:14px;letter-spacing:-0.2px;}
#mFooter .addr .inte {letter-spacing:0;}
#mFooter .copy {padding:5px 0 0;color:#888;font-size:11px;text-align:center;line-height:19px;}
#mFooter .copy span {letter-spacing:0;}
#fixBtn {position:fixed;bottom:70px;left:0;width:100%;display:none;z-index:10;transform:translateY(0);}
#fixBtn.on{transform:translateY(-40px);}
#fixBtn.giftOn{bottom:137px;}
#fixBtn  a {position:absolute;overflow:hidden;display:block;width:50px;height:50px;border-radius:25px;text-indent:-9999px;}
#fixBtn .btnBack {left:15px;right:auto;background:rgba(255,255,255,0.9);border:1px solid #cfcecd;}
#fixBtn .btnBack span {display:block;width:50px;height:50px;background:url(/mc-static-root/image/comm/btn_history_back.png) no-repeat center center;background-size:50px auto;}
#fixBtn .btnTop {left:auto;right:10px;background:rgba(255,255,255,0.9);border:1px solid #9bce26;}
#fixBtn .btnTop span {display:block;width:50px;height:50px;background:url(/mc-static-root/image/comm/btn_scroll_top.png) no-repeat -1px -1px;background-size:50px auto;}

/* App 바코드 상세페이지 하단 버튼 추가 */
#fixBtn2 {position:fixed;bottom:0;left:0;width:100%;z-index:10;}
#fixBtn2  a {position:absolute;overflow:hidden;display:block;text-indent:-9999px;}
#fixBtn2 .go_barcode {left:auto;left:50%;margin-left:-35px;bottom:15px}
#fixBtn2 .go_barcode span {display:block;width:70px;height:70px;background:url(/mc-static-root/image/comm/btn_barcode.png) no-repeat center center;background-size:70px auto;}
#fixBtn2 .go_home {left:auto;right:10px;bottom:75px}
#fixBtn2 .go_home span {display:block;width:50px;height:50px;background:url(/mc-static-root/image/comm/btn_gohome.png) no-repeat center center;background-size:50px auto;}

/* footerTab */
.footerTab{position:fixed;bottom:0;left:0;z-index:14;width:100%;height:50px;padding:0 15px;background-color:#fff;border-top:1px solid #ddd;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);overflow-y:visible;transition: all 0.2s;transform:translateY(50px);}
.footerTab.on{transform:translateY(0);}
.footerTab.off{display:none;}
.footerTab.fhide{display:none !important;}
.footerTab .list{}
.footerTab .list>li{position:relative;float:left;width:20%;text-align:center;}
.footerTab .list>li>a{display:inline-block;width:50px;height:50px;font-size:0;color:transparent;vertical-align:top;background:url('/mc-static-root/image/comm/icon_tab_bar.png') no-repeat;background-position:0 0;background-size:50px;}
.footerTab .list>li.item01 a{background-position:0 0;}
.footerTab .list>li.item02 a{background-position:0 -50px;}
.footerTab .list>li.item03 a{background-position:0 -100px;}
.footerTab .list>li.item04 a{background-position:0 -150px;}
.footerTab .list>li.item05 a{background-position:0 -200px;}
.footerTab .list>li.item03.in a{background:url('/mc-static-root/image/comm/icon_tab_bar_in.png') no-repeat;background-size:50px;background-position:0 -100px;}
.footerTab .list>li.item04.in a{background:url('/mc-static-root/image/comm/icon_tab_bar_in.png') no-repeat;background-size:50px;background-position:0 -150px;}
.footerTab .list>li.item05.in a{background:url('/mc-static-root/image/comm/icon_tab_bar_in.png') no-repeat;background-size:50px;background-position:0 -200px;}
.footerTab .list>li.item05 a span.thum{display:block;width:17px;height:17px;position:absolute;top:50%;left:50%;margin:-7px 0 0 -10px;background-color:#fff;}
.footerTab .list>li.item05 a span.thum img{width:auto;max-width:17px;height:auto;max-height:17px;border:1px solid #fff;border-radius:5px;}
