@charset 'utf-8';

.mHome-visual {overflow:hidden;position:relative;width:100%; min-height:300px;}
.mHome-visual .swiper-wrapper  {display:-webkit-box;display:-moz-box;display:-ms-flexbox;}
.mHome-visual ul li {overflow:hidden;position:relative;min-height:511px;background:#fff;font-size:0;line-height:0;padding-bottom:110px;}
.mHome-visual ul li img:focus {border:2px solid #a5c7fe;}
.mHome-visual ul li p {position:absolute;left:0;bottom:45px;width:100%;height:110px;color:#000;font-weight:bold;font-size:27px;text-align:center;line-height:32px;}
.mHome-visual ul li p em, .mHome-visual ul li p span {display:block;font-weight:normal;vertical-align:top;}
.mHome-visual ul li p em {font-style:normal;font-size:17px;line-height:20px;}
.mHome-visual ul li p span {color:#888;font-size:14px;line-height:28px;}
.mHome-visual .paging {padding-top:7px;display:inline-block;width:auto;height:5px;text-align:center;z-index:5;}
.mHome-visual .paging .swiper-pagination-bullet {display:inline-block;width:5px;height:5px;padding:0;margin-left:4px;font-size:0px;line-height:0;text-indent:-9999px;background:url(/mc-static-root/image/product/pageing.png) no-repeat 0 -5px;background-size:20px auto;vertical-align:top;text-align:center;}
.mHome-visual .paging .swiper-pagination-bullet-active {width:20px;background:url(/mc-static-root/image/product/pageing.png) no-repeat 0 0;background-size:20px auto;}
/* 모바일 메인 배너 재생/일시정지 기능 적용 */
.control_box {position:absolute;bottom:10px;left:0;width:100%;text-align:center}
.mHome-visual #swiper-autoplay {margin-left:8px;width:20px;height:20px;background:url(/mc-static-root/image/comm/ico_autoplay.png) no-repeat center 0;background-size:20px auto;font-size:0;}
.mHome-visual #swiper-autoplay.pause {background-position:center -20px;}
.mHome-visual ul li .swiper-lazy-preloader{position:absolute;top:0;left:0;width:100%;}
.mHome-visual ul li .swiper-lazy-preloader img{width:100%;}

/* 메인 큐레이션 서비스 */
.curation_wrap{position:relative;margin-top:6px;background-color:#fff;}
.curation_wrap.basket{margin-top:0;padding-bottom:20px;border-top:1px solid #e5e5e5;}
.curation_wrap.txt_inner{margin-bottom:6px;}
.curation_wrap + .curation_wrap{margin-bottom:0;}
.curation_wrap #recobell_area2{padding-bottom:5px;}/* 개발 파일 5px 추가 */
.curation_wrap .txt_user{padding:22px 10px 17px 30px;font-size:15px;color:#000;letter-spacing:-0.2px;}
.curation_wrap .txt_user.tc{padding:22px 0 17px 0;text-align:center;font-weight:bold;}
.curation_wrap .txt_user em{font-style:normal;}
.curation_wrap .txt_user2{padding:15px 0 15px;color:#000;line-height:32.5px;font-size:13px;text-align:center;letter-spacing:-0.2px;}
.curation_wrap .txt_user2 .btnGreen{width:77.5px !important;height:32.5px;line-height:32.5px;padding:0;margin:0;margin-left:15px;font-size:12px;background-color:#c0c200 !important;}
.curation_wrap .loading_cont{position:absolute;top:59px;left:0px;width:100%;z-index:10;}
.curation_wrap .loading_cont .inner{display:table;width:100%;;text-align:center;}
.curation_wrap .loading_cont .inner .cont{display:table-cell;height:250px;vertical-align:middle;}
.curation_wrap .loading_cont .imggif{display:inline-block;width:55px;height:55px;margin-bottom:13px;}
.curation_wrap .loading_cont .imggif img{width:100%;}
.curation_wrap .loading_cont .inner .txt{font-size:15px;color:#c0c200;font-weight:bold;}
.curation_wrap .loading_cont.type2{position:relative;top:0;padding:13px 0;}
.curation_wrap .loading_cont.type2 .inner .cont{display:table-cell;height:auto;vertical-align:middle;}
.curation_wrap .loading_cont.type2 .imggif{width:43px;height:43px;margin-bottom:6px;}
.curation_wrap .loading_cont.type2 .inner .txt{font-size:13px;color:#666;font-weight:normal;font-family:'Noto Sans KR'}
.curation_wrap .loading_cont.type2 .swiper-scrollbar{position:absolute;left:20px;right:20px;bottom:0;height:5px;background-color:#e5e5e4;border-radius:10px;}
.curation_wrap .loading_cont + .curation_area .swiper-scrollbar-drag{display:none;}
.curation_wrap .btnType01{padding-bottom:25px;}
.curation_wrap .btnType01 .btnGreen{width:38% !important;height:32px;margin:0;padding:0;line-height:32px;font-size:13px;background-color:#c0c200 !important;}
@keyframes load_rotate{
  0% {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
.curation_area{position:relative;overflow:hidden;background-color:#fff;z-index:5;}
.curation_area .swiper-wrapper  {display:-webkit-box;display:-moz-box;display:-ms-flexbox;}
.curation_area .swiper-scrollbar{position:absolute;left:20px;right:20px;bottom:0;height:5px;background-color:#e5e5e4;border-radius:10px;}
.curation_area .swiper-scrollbar .swiper-scrollbar-drag{height:5px;background-color:#c0c200;border-radius:10px;}			
.curation_area .curation_list{position:relative;width:100%;}			
.curation_area .curation_list li{position:relative;padding-bottom:20px;}
.curation_area .curation_list li span em{display: inline-block;margin-left:0;font-style:normal;}
.curation_area .curation_list li > .item{float:left;width:100%;text-align:center;padding:0 10px 0;} 
.curation_area .curation_list li > .item .imgSmall {overflow:hidden;position:relative;width:100%;}
.curation_area .curation_list li > .item .imgSmall .img {position:relative;width:110px;height:110px;margin:0 auto;background-color:#fff;}
.curation_area .curation_list li > .item .imgSmall .img img {width:auto !important;max-width:110px;height:auto !important;max-height:110px;text-align:center;}
.curation_area .curation_list li > .item .imgSmall .best,
.curation_area .curation_list li > .item .imgSmall .new {position:absolute;top:5px;left:5px;width:40px;height:40px;padding:10px 0 0;border-radius:30px;background-color:#fff;font-weight:bold;font-size:12px;text-align:center;line-height:19px;letter-spacing:-1.5px;z-index:1;}
.curation_area .curation_list li > .item .imgSmall .best {color:#f05a5e;border:1px solid #f05a5e;}
.curation_area .curation_list li > .item .imgSmall .new {color:#00b4aa;border:1px solid #00b4aa;text-indent:-2px;}			
.curation_area .curation_list li > .item .imgSmall .flag.delivery{position:absolute;right:5px;bottom:5px;width:40px;height:40px;padding:6px 0 0;border-radius:30px;background-color:blue;background-color:blue;color:#fff;font-weight:bold;font-size:12px;text-align:center;line-height:14px;letter-spacing:-1.5px;z-index:1;}
.curation_area .curation_list li > .item .imgSmall .minor {position:relative;padding-top:76px;width:100%;height:100%;background:#fff url(/mc-static-root/image/mypage/icon_minor.png) no-repeat center 50%;background-size:110px auto;font-weight:bold;font-size:11px;line-height:15px;color:#ee0000;text-align:center;}
.curation_area .curation_list li > .item .imgSmall .best,
.curation_area .curation_list li > .item .imgSmall .new {left:15px;}
.curation_area .curation_list li > .item .imgSmall .best,
.curation_area .curation_list li > .item .imgSmall .best,
.curation_area .curation_list li > .item .imgSmall .new,
.curation_area .curation_list li > .item .imgSmall .new {padding:10px 0 0;}
.curation_area .curation_list li > .item .name,
.curation_area .curation_list li > .item .text {overflow:hidden;padding:0 10px;box-sizing:initial;color:#333;font-size:12px;line-height:16px;}  
.curation_area .curation_list li > .item .name {height:20px;padding:11px 0 0;text-overflow:ellipsis;white-space:nowrap;}
.curation_area .curation_list li > .item .text {height:30px;padding:7px 8px 4px;margin:0 ;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;}
.curation_area .curation_list li > .item .sale {height:14px;color:#777;font-size:12px;text-decoration:line-through;line-height:14px;letter-spacing:0;margin-bottom:1px;}
.curation_area .curation_list li > .item .sale em {font-size:11px;line-height:16px;vertical-align:1px;}
.curation_area .curation_list li > .item .won {height:20px;color:#333;font-family:'montserratregular';font-size:15px;line-height:18px;letter-spacing:-0.04em;}
.curation_area .curation_list li > .item .won em {font-weight:bold;font-size:11px;line-height:18px;vertical-align:1px;}
.curation_area.loading{min-height:250px;}
.curation_area.loading .curation_list li{width:40%;}

/* 큐레이션 2차 */
.evenPrdBox{margin-left:35px;}
.opt_info.basket{margin-top:8px;}
.opt_info.basket .select_box .select_opt{height:30px;padding-top:4px;}
.curation_wrap.search,
.curation_wrap.cura_pord,
.curation_wrap.basket{z-index:4;}
.curation_wrap.search{padding-bottom:30px;}
.curation_wrap.search .txt_user{padding-top:17px;}
.curation_wrap.cura_pord .txt_user{padding-left:20px;}
.curation_wrap.cura_pord .loading_cont.type2{padding-bottom:37px;}
.curation_wrap.search .txt_user,
.curation_wrap.basket .txt_user{padding-left:20px;}
.curation_wrap .loading_cont.main{padding:37px 0;}

.related_plan{padding:22px 20px 0 20px;background-color:#fff;}
.related_plan .plan_cont dt{float:left;width:105px;font-size:15px;color:#000;font-weight:bold;}
.related_plan .plan_cont dd{margin-left:105px;}
.related_plan .plan_cont dd li{margin-top:9px;line-height:18px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.related_plan .plan_cont dd li:first-child{margin-top:0}
.related_plan .plan_cont dd li a{color:#555;font-size:14px;}

.soldout.type2 .evenPrdBox{margin:4px 58px 0 35px !important;}
.soldout.type2 .evenPrdBox .btnGrayH30{position:absolute;top:8px;right:-58px;padding:0 12px;}

/* 큐레이션 2차 연관상품 버튼 */
.related_items{position:fixed;bottom:80px;right:10px;z-index:5;}
.related_items .btnRel{position:relative;z-index:5;display:block;width:50px;height:50px;padding-top:10px;line-height:15px;background-color:#b9bb00;border-radius:25px;color:#fff;font-size:12px;font-family:Noto Sans KR;font-weight:bold;text-align:center;}

.keyword-area {padding:0 10px;background:#fff;}
.keyword-area h2 {padding:25px 0 0;color:#000;font-weight:bold;font-size:18px;text-align:center;line-height:23px;}
.keyword-area ul {overflow:hidden;width:100%;padding:14px 0 0;font-size:0;text-align:center;line-height:0;}
.keyword-area ul li {overflow:hidden;display:inline-block;width:32%;height:32px;padding:5px 0 0;border-radius:20px;border:1px solid #c0c200;color:#fff;background:#c0c200;font-size:13px;line-height:18px;white-space:nowrap;text-overflow:ellipsis;font-weight:bold;}
.keyword-area ul li:first-child {float:left;}
.keyword-area ul li:nth-child(2) {text-align:center;background:#fff;color:#c0c200;}
.keyword-area ul li:last-child {float:right;}

.mHome-onlyone-wrap {position:relative;width:100%;margin-top:30px;padding:20px 0 30px;background:#bfc1ae;}
.mHome-onlyone {padding:0 30px;background:#bfc1ae;}
.mHome-onlyone .swiper-wrapper {display:-webkit-box;display:-moz-box;display:-ms-flexbox;}
.mHome-onlyone .prev,
.mHome-onlyone .next {position:absolute;top:50%;width:30px;height:15px;margin-top:-8px; z-index:5;font-size:0;line-height:0;}
.mHome-onlyone .prev {left:0;background:url(/mc-static-root/image/comm/btn_arrow_prev.png) no-repeat center center;background-size:8px auto;}
.mHome-onlyone .next {right:0;background:url(/mc-static-root/image/comm/btn_arrow_next.png) no-repeat center center;background-size:8px auto}
.mHome-onlyone-wrap:before {display:block;content:'';position:absolute;top:-30px;left:0;width:100%;height:30px;background-color:#fff;}
.mHome-onlyone-wrap p {padding:0 0 14px;color:#fff;font-size:14px;text-align:center;line-height:18px;font-weight:bold;letter-spacing:0;}
.mHome-onlyone-wrap p span {display:block;letter-spacing:1px;font-weight:normal;font-family:'montserratregular';}
.mHome-onlyone-wrap .mSlider-onlyone li {font-size:0;line-height:0;}
.mHome-onlyone li a {display:block;position:relative;}
.mHome-onlyone li a .txt {position:relative;background-color:#fff;overflow:hidden;height:100px;text-overflow:clip;padding:27px 10px 20px;text-align:center;font-size:13px;line-height:24px;color:#888;font-weight:bold;word-break:break-word;}
.mHome-onlyone li a .txt:after {display:block;content:'';position:absolute;left:0;bottom:0;width:100%;height:20px;background:#fff;}
.mHome-onlyone li a .txt .en {display:block;overflow:hidden;max-height:25px;text-overflow:clip;padding-bottom:3px;font-size:20px;line-height:26px;letter-spacing:0;font-weight:normal;font-family:'montserrat';word-break:break-word;color:#000;}
.mHome-onlyone li a .more {display:block;position:absolute;top:90px;left:50%;background-color:#babc00;border-radius:12px;margin-left:-30px;width:60px;height:24px;font-weight:bold;font-size:11px;line-height:18px;color:#fff;text-align:center;padding-top:4px;letter-spacing:0;}
.band-Banner+mHome-onlyone-wrap:before {display:none;}
.mlist-Jeonmungwan {overflow:hidden;width:100%;}
.mlist-Jeonmungwan li {float:left;width:50%;font-size:0;line-height:0;}
.mlist-Jeonmungwan li a {display:block;position:relative;width:100%;text-align:center;}
.mlist-Jeonmungwan li a .stit {position:absolute;top:20px;left:0;width:100%;padding:0 10px;height:40px;}
.mlist-Jeonmungwan li a .stit  em, 
.mlist-Jeonmungwan li a .stit span {display:block;max-height:20px;overflow:hidden;word-break:break-word;}
.mlist-Jeonmungwan li a .stit span {color:#333;font-weight:bold;font-size:16px;line-height:20px;text-overflow:clip;}
.mlist-Jeonmungwan li a .stit em {height:18px;color:#000;font-style:normal;font-size:13px;line-height:20px;opacity:0.6;}
.home-stit {overflow:hidden;max-height:78px;padding:33px 10px 17px;background:#fff;color:#000;font-size:21px;text-align:center;line-height:28px;text-overflow:clip;word-break:break-word;}
.home-stit span {display:inline-block;vertical-align:middle;font-size:21px;line-height:28px;font-weight:normal;font-family:'montserratregular'; }
.list-group+.home-stit {position:relative;width:100%}
.list-group+.home-stit:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:8px;background:#eee;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}

.btnLinkMore2 {height:32px;padding:0 20px;border:1px solid #666;border-radius:32px;background-color:#fff;text-align:center;}

/* SCP 배너 추가건 */
#mSearchWrapper {position:relative}
.search_tab_area {padding-bottom:174px;}
.scp_cont {position:fixed;bottom:0;width:100%;padding:11px 0 17px;border-top:1px solid #333;background-color:#fff;overflow-y:hidden;}
.scp_cont h3 {margin-bottom:14px;padding-left:20px;font-size:16px;color:#333;font-weight:700}
.scp_slide{position:unset;margin:0 44px;z-index:1;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform}
.scp_slide .swiper-wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;}
.scp_slide ul{width:100%;height:100%;margin-left:0 !important;}
.scp_slide ul li {display:table;position:relative;width:100%;background:#fff;font-size:0;line-height:0;padding-bottom:0;}
.scp_slide ul li .scp_thumb {display:table-cell;width:110px;height:110px;text-align:center;vertical-align:middle}
.scp_slide ul li .scp_thumb img {width:auto !important;height:auto !important;max-width:110px;max-height:110px}
.scp_slide ul li .scp_thumb .img {display:block;position:relative;width:110px;height:110px;}
.scp_slide ul li .scp_thumb .minor {display:block;padding-top: 82px;width: 100%;height: 100%;background:#fff url(/mc-static-root/image/mypage/icon_minor.png) no-repeat center 0;background-size:100px auto;font-weight: bold;font-size: 11px;line-height: 15px;color: #ee0000;text-align: center;}
.scp_slide ul li .scp_txt {display:table-cell;padding-left:18px;vertical-align:middle}
.scp_slide ul li .scp_txt > span {display:block}
.scp_slide ul li .scp_txt .brand {font-size:14px;line-height:18px;color:#000;font-weight:600;margin-bottom:1px}
.scp_slide ul li .scp_txt .tit {max-height:32px;margin-bottom:5px;font-size:14px;line-height:16px;color:#000;overflow:hidden;}
.scp_slide ul li .scp_txt .price {height:20px;font-size:20px;font-weight:700;color:#ee782f;line-height:100%;}
.scp_slide ul li .scp_txt .price > em {font-size:12px;font-style:normal;font-weight:700;vertical-align:2px;}
.scp_slide ul li .scp_txt .price .sale_pr {padding-right:5px;font-size:13px;color:#b0b0b0;font-weight:100;text-decoration:line-through;vertical-align:2px;}
.scp_slide ul li .scp_txt .price .sale_pr em {font-size:12px;font-style:normal;}
.scp_slide .slide_nav {position:absolute;top:46%;width:37px;height:37px;background:url(/mc-static-root/image/comm/scp_slide_arrow.png) no-repeat 0 0;background-size:auto 37px;font-size:0}
.scp_slide .slide_nav.prev {left:6px;background-position:14px 0;}
.scp_slide .slide_nav.next {right:6px;background-position:-101px 0}
.scp_slide .slide_nav.swiper-button-disabled {display:none}
.scp_slide .paging {position:absolute;right:16px;top:10px;z-index:2;}
.scp_slide .paging .swiper-pagination-bullet {display:inline-block;width:5px;height:5px;margin-left:4px;background:url(/mc-static-root/image/product/pageing.png) no-repeat 0 -5px;background-size:20px auto;font-size:0px;line-height:0;text-indent:-9999px;vertical-align:middle;}
.scp_slide .paging .swiper-pagination-bullet-active {width:20px;background-position:0 0;}

/* 메인페이지 카드광고배너 추가 */
.mHome_card_banner {position:relative;width:100%;padding:30px 0 0;background:#fff;}
.mHome_card_banner .swiper-wrapper {display:-webkit-box;display:-moz-box;display:-ms-flexbox;}
.mHome_card_banner .swiper-slide a {display:block;}
.mHome_card_banner .paging {padding:0;width:100%;height:20px;text-align:center;z-index:5;}
.mHome_card_banner .paging .swiper-pagination-bullet {display:inline-block;width:5px;height:5px;padding:0;margin-left:4px;font-size:0px;line-height:0;text-indent:-9999px;background:url(/mc-static-root/image/product/pageing.png) no-repeat 0 -5px;background-size:20px auto;vertical-align:bottom;text-align:center;}
.mHome_card_banner .paging .swiper-pagination-bullet-active {width:20px;background:url(/mc-static-root/image/product/pageing.png) no-repeat 0 0;background-size:20px auto;}
